{% extends "template.twig" %}
{% block title %}Registrations // {{ event.full_name }}{% endblock %}
{% block section %}event{% endblock %}
{% block subnav %}{% include "event/subnav.twig" %}{% endblock %}
{% import "widgets/attendees.twig" as a %}
{% block content %}
    <header>
        <h2>Registrations <span class="confidential">Confidential</span></h2>
        {% if event.manager_username == me.username or event.evangelist_username == me.username or me.is_admin %}
            <p><a href="/event/{{ event.id }}/registrations/csv?signature={{ signature }}">CSV Attendee List Download</a>
               You can send this link directly to a venue, no login required! (Do not share with anyone else unless
               necessary.)</p>
        {% endif %}
    </header>

    <section class="current registrations">
        {% if event.registrations|length > 0 %}
            <h3>Current Attendees</h3>
            <p>Sort by:
              <a href="/event/{{ event.id }}/registrations?sort=type">Type</a> (default),
              <a href="/event/{{ event.id }}/registrations?sort=id">ID</a>,
              <a href="/event/{{ event.id }}/registrations?sort=first_name">First Name</a>,
              <a href="/event/{{ event.id }}/registrations?sort=last_name">Last Name</a>,
              <a href="/event/{{ event.id }}/registrations?sort=created_at&amp;order=desc">Date Registered</a>
            </p>
            {{ a.attendees(registrations, true) }}
        {% endif %}
        <a href="#" class="new-registration-button">New Registration</a>
        <a href="/event/{{event.id}}/registrations/bulk">CSV Upload</a>
    </section>

    <section class="waivers">
        <h3>Download Waiver Links</h3>
        <textarea style="width: 100%">{% for registration in registrations %}{% if registration.waiver_pdf_link %}{{ registration.waiver_pdf_link }}
{% endif %}{% endfor %}</textarea>
    </section>
{% endblock %}
