{% extends "template.twig" %}
{% block title %}Registrations // {{ event.full_name }}{% endblock %}
{% block section %}event{% endblock %}
{% block subnav %}{% include "event/subnav.twig" %}{% endblock %}
{% import "widgets/attendees.twig" as a %}
{% block content %}
    <header>
        <h2>Registrations</h2>
        <p>If the venue requires an attendance list, they can download an up-to-date one
            <a href="/event/{{ event.id }}/registrations/csv?signature={{ signature }}">here.</a></p>
    </header>

    {% if event.registrations|length > 0 %}
        <section class="current registrations">
            <h3>Current Attendees</h3>
            <p>Sort by:
              <a href="/event/{{ event.id }}/registrations?sort=id">ID</a>,
              <a href="/event/{{ event.id }}/registrations?sort=first_name">First Name</a>,
              <a href="/event/{{ event.id }}/registrations?sort=last_name">Last Name</a>,
              <a href="/event/{{ event.id }}/registrations?sort=created_at&amp;order=desc">Date Registered</a> (default)
            </p>
            {{ a.attendees(registrations, true) }}
            <a href="#" class="new-registration-button">New Registration</a>
        </section>
    {% endif %}
{% endblock %}
