{% extends "template.twig" %}
{% block title %}{{ registration.name }} // {{ event.full_name }}{% endblock %}
{% block section %}event{% endblock %}
{% block subnav %}{% include "event/subnav.twig" %}{% endblock %}
{% block content %}
    <section class="info registration">
        <h3>Update Attendee Information</h3>
        <form method="post" class="info">
            <div class="attendee">
                <h4>Attendee Info</h4>
                <div class="field">
                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name" id="first_name" value="{{ registration.first_name }}" required />
                </div>

                <div class="field">
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name" id="last_name" value="{{ registration.last_name }}" required />
                </div>

                <div class="field">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" value="{{ registration.email }}" required />
                </div>

                <div class="field">
                    <label for="type">Ticket Type</label>
                    <select name="type" id="type">
                        {% for type in ['student', 'teacher', 'volunteer', 'sponsor'] %}
                            <option value="{{ type }}" {% if registration.type == type %}selected{% endif %}>{{ type }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="parent">
                <h4>Parent Info</h4>
                <div class="field">
                    <label for="parent_name">Name</label>
                    <input type="text" name="parent_name" id="parent_name" value="{{ registration.parent_name }}" />
                </div>

                <div class="field">
                    <label for="parent_email">Email</label>
                    <input type="email" name="parent_email" id="parent_email" value="{{ registration.parent_email }}" />
                </div>

                <div class="field">
                    <label for="parent_phone">Phone 1</label>
                    <input type="phone" name="parent_phone" id="parent_phone" value="{{ registration.parent_phone }}" />
                </div>

                <div class="field">
                    <label for="parent_secondary_phone">Phone 2</label>
                    <input type="phone" name="parent_secondary_phone" id="parent_secondary_phone" value="{{ registration.parent_secondary_phone }}" />
                </div>
            </div>

            <div class="field">
                <label for="resend">Resend Email</label>
                <input type="checkbox" name="resend" id="resend" value="1" />
            </div>
            <input type="submit" value="Save" />
        </form>
    </section>

    {% if registration.related_registrations|length > 0 %}
        <section class="current registrations related">
            <h3>Other Attendees In This Purchase</h3>
            <ul>
                {% for attendee in registration.related_registrations %}
                    <li>
                        <a href="/event/{{ event.id }}/registrations/attendee/{{ attendee.id }}">
                            <img src="http://www.gravatar.com/avatar/{{ attendee.email_md5 }}?s=200&d=mm" alt="{{ attendee.name }}"/>
                                <span class="name">
                                    <span class="first">{{ attendee.first_name }}</span>
                                    <span class="last">{{ attendee.last_name }}</span>
                                </span>
                            <span class="email">{{ attendee.email }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}

    <section class="cancel">
        <h3>Cancel and Delete</h3>
        <form action="/event/{{ event.id }}/registrations/attendee/{{ registration.id }}/cancel" method="post" class="dangerous">
            <div class="field">
                <label for="email">Send Email?</label>
                <input type="checkbox" name="email" id="email" value="1" checked />
                <span class="help">If checked, sends an email to the attendee informing them of the cancellation.</span>
            </div>
            {% if registration.stripe_id %}
                <div class="field">
                    <label for="refund">Refund?</label>
                    <input type="checkbox" name="refund" id="refund" value="1" checked />
                    <span class="help">If checked, the attendee will be provided with a refund for this ticket.</span>
                </div>
            {% endif %}
            {% if registration.related_registrations|length > 0 %}
                <div class="field">
                    <label for="related">Include Related?</label>
                    <input type="checkbox" name="related" id="related" value="1"/>
                    <span class="help">This will also cancel all other registrations in this order.</span>
                </div>
            {% endif %}
            <input type="submit" value="Delete Attendee"/>
        </form>
    </section>

    {% if registration.amount_paid > 0 %}
        <section class="refund">
            <h3>Partial Refund</h3>
            <p>This will refund part or all of the purchase price without cancelling the ticket.</p>
            <form action="/event/{{ event.id }}/registrations/attendee/{{ registration.id }}/refund" method="post" class="dangerous">
                <div class="field">
                    <label for="email">Send Email?</label>
                    <input type="checkbox" name="email" id="email" value="1" checked />
                    <span class="help">If checked, sends an email to the attendee informing them of the refund.</span>
                </div>
                <div class="field">
                    <label for="amount">Amount</label>
                    <input type="text" name="amount" id="amount" pattern="\d+(\.\d\d)?" required />
                    <span class="help">The amount of the purchase to refund. This cannot exceed
                                       ${{ registration.amount_paid|number_format(2) }}.</span>
                </div>
                <input type="submit" value="Refund Attendee"/>
            </form>
        </section>
    {% endif %}

    <section class="transfer">
        <h3>Transfer</h3>
        <p>This will transfer the registration to another event. (You cannot transfer to sold-out events unless you
           manage them.)</p>
        <form action="/event/{{ event.id }}/registrations/attendee/{{ registration.id }}/transfer" method="post" class="dangerous">
            <div class="field">
                <label for="email">Send Email?</label>
                <input type="checkbox" name="email" id="email" value="1" checked />
                <span class="help">If checked, sends an email to the attendee informing them of the transfer.</span>
            </div>
            <div class="field">
                <label for="id">To</label>
                <select name="id" id="id">
                    {% for event in loaded_batch.events %}
                        {% if event.remaining_registrations > 0 or (event.manager_username == me.username or event.isUserAllowed(me) or me.is_admin) %}
                            <option value="{{ event.id }}">{{ event.name }}
                            {% if event.remaining_registrations <= 0 %}(sold out){% endif %}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <input type="submit" value="Transfer Attendee"/>
        </form>
    </section>
{% endblock %}
