{% extends "template.twig" %}
{% block title %}{{ event.full_name }}{% endblock %}
{% block section %}event{% endblock %}
{% block subnav %}{% include "event/subnav.twig" %}{% endblock %}
{% block content %}
    <header>
        <h2>Registrations</h2>
        <p>You can use this screen to view, add, and refund registrations.</p>
        <p>To add an attendee <em>and charge their card</em>, please use
           the standard web registration flow.</p>
        <p>If the venue requires an attendance list, they can download an up-to-date one
            <a href="/event/{{ event.id }}/registrations/csv?signature={{ signature }}">here.</a></p>
    </header>

    <section class="add registration">
        <h3>Add Registration</h3>
        <form action="/event/{{ event.id }}/registrations/add" method="post">
            <div class="field">
                <label for="first_name">First Name</label>
                <input type="text" name="first_name" id="first_name" required />
            </div>
            <div class="field">
                <label for="last_name">Last Name</label>
                <input type="text" name="last_name" id="last_name" required />
            </div>
            <div class="field">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" required />
            </div>
            <div class="field">
                <label for="send_welcome">Send Welcome Email?</label>
                <input type="checkbox" name="send_welcome" id="send_welcome" value="1" />
            </div>
            <input type="submit" value="Add" />
        </form>
    </section>

    {% if event.registrations|length > 0 %}
        <section class="current registrations">
            <h3>Current Attendees</h3>
            <ul>
                {% for attendee in event.registrations %}
                    <li>
                        <a href="/event/{{ event.id }}/registrations/attendee/{{ attendee.id }}">
                            <img src="http://www.gravatar.com/avatar/{{ attendee.email_md5 }}?s=200&d=mm" alt="{{ attendee.name }}"/>
                            <span class="name">
                                <span class="first">{{ attendee.first_name }}</span>
                                <span class="last">{{ attendee.last_name }}</span>
                            </span>
                            <span class="email">{{ attendee.email }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}
{% endblock %}