{% extends "template.twig" %}
{% block section %}dashboard{% endblock %}
{% import "widgets/attendees.twig" as a %}
{% import "widgets/countdown.twig" as countdown %}
{% import "widgets/event-hud.twig" as event_hud %}
{% block content %}
    {{ countdown.fancy(managed_batch) }}
    <section class="deadlines">
        <div>
            {% set x_0 = managed_batch.starts_at.addWeeks(-12).timestamp %}
            {% set x_1 = managed_batch.starts_at.timestamp %}
            {% set now = null|date('U') %}
            {% set percent = 100*((now-x_0)/(x_1-x_0)) %}
            <span class="now" style="left: {{ max(0, min(100, percent)) }}%"></span>
            <table><tbody><tr>
                <td>
                    <div class="normal">
                        <span class="date">{{ managed_batch.starts_at.addWeeks(-12).timestamp|date('F j') }}</span>
                        <span class="description">Organizing starts</span>
                    </div>
                </td>
                <td>
                    <div class="normal">
                        <span class="date">{{ managed_batch.starts_at.addWeeks(-8).timestamp|date('F j') }}</span>
                        <span class="description">Venues due</span>
                    </div>
                </td>
                <td>
                    <div class="normal">
                        <span class="date">{{ managed_batch.starts_at.addWeeks(-4).timestamp|date('F j') }}</span>
                        <span class="description">Promotion push starts</span>
                    </div>
                    <div class="last">
                        <span class="date">{{ managed_batch.starts_at.timestamp|date('F j') }}</span>
                        <span class="description">CodeDay</span>
                    </div>
                </td>
            </tr></tbody></table>
        </div>
    </section>
    {% if me.current_managed_events|length > 0 %}
        <section class="my-events">
            <ul>
                {% for event in me.current_managed_events %}
                    <li>{{ event_hud.hud(event) }}</li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}
        
    <section class="latest">
        <section class="recent">
            <h3>New Registrations</h3>
            {{ a.attendees(recent_registrations|slice(0,4)) }}
        </section>
        <section class="leaderboard">
            <h3>Weekly Leaderboard</h3>
            <ol>
                {% for event in leaderboard|slice(0,10) %}
                    <li>
                        <strong>{{ event.name }}:</strong>
                        &#9652;{{ event.registrations_this_week|length }} this week
                    </li>
                {% endfor %}
            </ol>
        </section>
        <section class="news">
            <h3>News</h3>
            {% if managed_batch.news %}
                {{ managed_batch.news|markdown|raw }}
            {% else %}
                <p>(No news.)</p>
            {% endif %}
        </section>
    </section>

    {% if me.is_admin %}
        <section class="batch-status">
            {% include "widgets/batch-status.twig" %}
        </section>
    {% endif %}
{% endblock %}
