{% extends "template.twig" %}
{% block title %}Attendee Finder{% endblock %}
{% block section %}tools{% endblock %}
{% block subnav %}{% include "tools/subnav.twig" %}{% endblock %}
{% block content %}
    <header>
        <h2>Attendee Finder</h2>
        <p>This tool will allow you to find attendees across events in the current batch.</p>
    </header>

    <form method="get" class="small">
        <label for="search">Name/Email</label>
        <input type="text" name="search" id="search" value="{{ search }}" placeholder="Tyler" />
        <input type="submit" value="Search"/>
    </form>

    {% if attendees %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Event</th>
                    <th>Amount Paid</th>
                    <th>Checked In</th>
                </tr>
            </thead>
            <tbody>
                {% for attendee in attendees %}
                    <tr>
                        <td>{{ attendee.id }}</td>
                        <td>
                            {% if attendee.deleted_at != null %}
                                <span style="text-decoration: line-through">{{ attendee.name }}</span>
                            {% else %}
                                <a href="/event/{{ attendee.event.id }}/registrations/attendee/{{ attendee.id }}">
                                    {{ attendee.name }}
                                </a>
                            {% endif %}
                        </td>
                        <td>{{ attendee.email }}</td>
                        <td>{{ attendee.event.full_name }}</td>
                        <td>${{ attendee.amount_paid|number_format(2) }}</td>
                        <td>{% if attendee.checked_in_at %}&#10003;{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}