{% extends "template.twig" %}
{% block title %}Checkin{% endblock %}
{% block section %}tools{% endblock %}
{% block subnav %}{% include "tools/subnav.twig" %}{% endblock %}
{% block content %}
    <header>
        <h2>Checkin</h2>
        <p>You can use this to check in attendees at the door.</p>
        <p>Type first name, last name, or email to filter the attendee list. Click the button next to an attendee to
           toggle checkin status.</p>
        <p>If only one attendee is showing, you can also press enter directly from the search box.</p>
    </header>

    {% if not event %}
        {% if me.is_admin %}
            {% set events = managed_batch.events %}
        {% else %}
            {% set events = me.current_managed_events %}
        {% endif %}

        <h3>Available Events</h3>
        <ul>
            {% for event in events %}
                <li><a href="?event={{ event.id }}">{{ event.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <input type="text" id="search" placeholder="Search by name or email" value="" autocomplete="off" />
        <style type="text/css">
            .checked-in td {
                text-decoration: line-through;
                opacity: 0.3;
            }
            #search {
                width: 100%;
                text-align: center;
                margin-bottom: 2rem;
            }
            #registrants {
                width: 100%;
            }
        </style>
        <table id="registrants" class="checkin">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Ticket</th>
                    <th>Type</th>
                    <th>Check In?</th>
                </tr>
            </thead>
            <tbody>
                {% for registration in event.registrations %}
                    <tr class="type-{{ registration.type }}
                        {% if registration.checked_in_at %}checked-in{% endif %}
                        {% if not registration.parent_email %}missing-parent-info{% endif %}
                        ">
                        <td class="name">{{ registration.name }}</td>
                        <td class="email">{{ registration.email }}</td>
                        <td class="id">{{ registration.id }}</td>
                        <td class="type">{{ registration.type }}</td>
                        <td>
                            <form class="checkin" method="post">
                                <input type="hidden" name="id" value="{{ registration.id }}" />
                                <input type="hidden" name="action" value="{% if registration.checked_in_at %}out{% else %}in{% endif %}"/>
                                <input type="submit" value="{% if registration.checked_in_at %}Undo{% else %}Checkin{% endif %}" />
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
{% block scripts %}
    <script type="application/javascript">
        $('#search').on('keyup', function(e) {
            e.preventDefault();
            e.stopPropagation();

            var search = $(this).val();

            $('#registrants tr').each(function(i, elem) {
                var name = "" + $(elem).children('.name').text();
                var email = "" + $(elem).children('.email').text();
                var id = "" + $(elem).children('.id').text();

                if (name.toUpperCase().indexOf(search.toUpperCase()) >= 0
                        || email.toUpperCase().indexOf(search.toUpperCase()) >= 0
                        || id.toUpperCase().indexOf(search.toUpperCase()) >= 0
                    || search == "") {
                    $(this).css('display', 'table-row');
                } else {
                    $(this).css('display', 'none');
                }
            });

            if (e.which == 13) {
                if ($('#registrants tr:visible').length === 1) {
                    $('#registrants tr:visible input[type="submit"]').click();
                }
            }

            return false;
        });
        $('form.checkin').on('submit', function(e){
            e.preventDefault();
            e.stopPropagation();

            var _this = $(this);
            var id = $(this).children('input[name="id"]').val();
            var action = $(this).children('input[name="action"]').val();

            if (_this.parents('tr').hasClass('type-teacher') && action == 'in' && !confirm(
                    "Please check that the teacher has a valid, school-issued photo ID."
                )) {
                return;
            }

            if (_this.parents('tr').hasClass('missing-parent-info') && action == 'in') {
                _this.parents('tr').removeClass('missing-parent-info');
                alert("Checked in, but missing parent info. Please collect! (Collection window opened.)");
                window.open('/e/parent?r='+id, '_blank');
            }

            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/tools/checkin?event={{ event.id }}',
                data: {
                    id: id,
                    action: action
                },
                success: function(data) {
                    if (action == 'in') {
                        _this.parent().parent().addClass('checked-in');
                        _this.children('input[name="action"]').val('out');
                        _this.children('input[type="submit"]').val('Undo');
                    } else {
                        _this.parent().parent().removeClass('checked-in');
                        _this.children('input[name="action"]').val('in');
                        _this.children('input[type="submit"]').val('Checkin');
                    }
                    $('#search').val('').trigger('keyup').focus();
                },
                error: function(error) {
                    swal({
                        title: 'Something has gone wrong.',
                        text: error,
                        type: 'error'
                    });
                }
            });

            return false;
        });
    </script>
{% endblock %}