<!doctype html>
<html lang="en">
<head>
    <title>Shipping Manifests</title>
    <style type="text/css">
        body {
            font-size: 10px;
        }

        section.events {
            width: 100%;
            max-width: 500px;
            margin: 0 auto;
        }

        h1, h2, h3 {
            text-align: center;
            font-family: helvetica, arial, sans-serif;
            text-transform: uppercase;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        table.geninfo th+td {
            width: 50%;
        }

        table.geninfo td {
            text-align: center;
        }

        table.manifest:not(:last-child) {
            margin-after: 2rem;
            page-break-after: always;
        }

        table.manifest td:first-child, table.manifest th:first-child {
            width: 60%;
        }

        table.manifest td:not(:first-child), table.manifest th:not(:first-child) {
            width: 20%;
        }

        table.manifest td:not(:first-child), table.manifest th {
            text-align: center;
        }

        table td, table th {
            border: 1px solid #000;
            padding: 0.5rem 0.25rem;
            font-family: monospace;
            white-space: pre;
        }
    </style>
</head>
<body>
<section class="events">
    <h1>Totals</h1>
    <table class="manifest">
        <thead>
        <tr>
            <th>Itm</th>
            <th>Qty</th>
        </tr>
        </thead>
        <tbody>
        {% for item in totals %}
            {% if item.quantity is null or item.quantity != 0 %}
                <tr>
                    <td>{{ item.item }}</td>
                    <td>{{ item.quantity }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    {% for event in sorted_events %}
        <h1>CodeDay Packing List</h1>
        <h2>{{ event.name }}</h2>
        <table class="geninfo">
            <thead></thead>
            <tbody>
            <tr>
                <th>Evangelist</th>
                <td>{{ event.evangelist_username }}</td>
            </tr>
            <tr>
                <th>Attendee Estimate</th>
                <td>{{ event.ship_for }}</td>
            </tr>
            <tr>
                <th>Ship By</th>
                <td>{{ event.ship_by.timestamp|date('Y-M-d') }} 05:00:00 {{ null|date('e') }}</td>
            </tr>
            <tr>
                <th>Packing List Created</th>
                <td>{{ null|date('Y-M-d H:i:s e') }}</td>
            </tr>
            <tr>
                <th>Packed By</th>
                <td>&nbsp;</td>
            </tr>
            </tbody>
        </table>
        <h3>Items</h3>
        <table class="manifest">
            <thead>
            <tr>
                <th>Itm</th>
                <th>Qty</th>
                <th>OK</th>
            </tr>
            </thead>
            <tbody>
            {% for item in event.manifest_generated %}
                {% if item.quantity is null or item.quantity != 0 %}
                    <tr>
                        <td>{{ item.item }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>&nbsp;</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
</section>
</body>
</html>