{% extends "template.twig" %}
{% block title %}Checkin{% endblock %}
{% block section %}tools{% endblock %}
{% block subnav %}{% include "tools/subnav.twig" %}{% endblock %}
{% block content %}
    <style>
        .ready {
            color: green;
        }
        .address {
            color: orange;
        }
        .ship-options input {
            width: 100%;
        }
    </style>
    <header>
        <h2>Shipments</h2>
        <p>This tool allows you to easily generate supply shipment labels.</p>
    </header>
    {% set ship_ready_exists = false %}

    <form action="/tools/shipments/update" method="post">
        <table class="ship-options">
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Ship For</th>
                    <th>Length</th>
                    <th>Width</th>
                    <th>Height</th>
                    <th>Weight</th>
                </tr>
            </thead>
            <tbody>
                {% for event in loaded_batch.events %}
                    {% if event.shipment_number is null %}
                        {% if event.ship_ready %}
                            <tr class="ready">
                            {% set ship_ready_exists = true %}
                        {% elseif event.ship_address %}
                            <tr class="address">
                        {% else %}
                            <tr>
                        {% endif %}
                            <td>{{ event.name }}</td>
                            <td><input type="number" name="ship_fors[{{ event.id }}]" value="{{ event.ship_for }}" placeholder="{{ event.registrations.count }}(+{{ event.registrations_this_week|length }})/{{ event.registration_estimate }}"/></td>
                            <td><input type="number" name="lengths[{{ event.id }}]" value="{{ event.ship_l }}"/></td>
                            <td><input type="number" name="widths[{{ event.id }}]" value="{{ event.ship_w }}"/></td>
                            <td><input type="number" name="heights[{{ event.id }}]" value="{{ event.ship_h }}"/></td>
                            <td><input type="number" name="weights[{{ event.id }}]" value="{{ event.ship_weight }}"/></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="Save"/>
    </form>

    {% if ship_ready_exists %}
        <h3>New Shipment</h3>
        <p>This will generate a shipment with the following cities:</p>
        <ul>
            {% for event in loaded_batch.events %}
                {% if event.ship_ready and not event.shipment_number is null %}
                    <li>{{ event.name }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        <form action="/tools/shipments/ship" method="post">
            <input type="submit" value="Create Shipment"/>
        </form>
    {% endif %}

    {% if loaded_batch.shipments %}
        <h3>Shipment CSVs</h3>
        <ul>
            {% for shipment_number in loaded_batch.shipments %}
                <li><a href="/tools/shipments/csv?number={{ shipment_number }}">{{ shipment_number }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}