{% extends "template.twig" %}
{% block title %}Emails{% endblock %}
{% block section %}batch{% endblock %}
{% import "widgets/compose_email.twig" as composer %}
{% block subnav %}{% include "batch/subnav.twig" %}{% endblock %}
{% block content %}
    <header>
        <h2>Emails</h2>
        <p>You can contact attendees, waitlisted registrants, and notify subscribers here.</p>
    </header>

    <form method="post" action="/tools/emails/send">
        <section class="events-selector">
            {% set timezones = ['Pacific', 'Mountain', 'Central', 'Eastern'] %}
            {% for timezone in timezones %}
                <ul>
                    {% for event in managed_batch.events %}
                        {% if event.simple_timezone == timezone %}
                            <li>
                                <input type="checkbox" name="events[]" id="events[{{ event.id }}]" value="{{ event.id }}"/>
                                <label for="events[{{ event.id }}]">{{ event.name }}</label>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endfor %}
        </section>

        {{ composer.compose(null, _context) }}
    {{ csrf|raw }}</form>
{% endblock %}