{% extends "emails/template_transactional.twig" %}
{% block unsubscribe %}You received this email because you registered for CodeDay.{% endblock %}
{% block preview %}Thanks for registering for CodeDay! Your ticket is confirmed.{% endblock %}
{% block img %}https://srnd-cdn.net/emails/header-team.jpg{% endblock %}
{% block title %}You're going to CodeDay!{% endblock %}

{% block json_ld %}
{
  "@context": "http://schema.org",
  "@type": "EventReservation",
  "reservationNumber": "{{ registration.id }}",
  "reservationStatus": "http://schema.org/Confirmed",
  
  "underName": {
    "@type": "Person",
    "name": "{{ registration.name }}"
  },


  "reservationFor": {
    "@type": "Event",
    "name": "CodeDay {{ registration.event.name }}",
    "url": "https://codeday.org/{{ registration.event.webname }}",
    "performer": {
      "@type": "Organization",
      "name": "CodeDay {{ registration.event.name }}",
      "image": "http://codeday.org/assets/img/og.jpg"
    },
    "startDate": "{{ registration.event.starts_at|date('c') }}",
    "doorTime": "{{ (registration.event.starts_at-3600)|date('c') }}",
    "endDate": "{{ registration.event.ends_at|date('c') }}",
    "location": {
      "@type": "Place",
      "name": "{{ registration.event.venue.name }}",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "{{ registration.event.venue_address_1 }} {{ registration.event.venue_address_2 }}",
        "addressLocality": "{{ registration.event.venue.city }}",
        "addressRegion": "{{ registration.event.venue.state }}",
        "postalCode": "{{ registration.event.venue.postal }}",
        "addressCountry": "US"
      }
    }
  },
  "ticketToken": "qrCode:{{ registration.id }}",
  "ticketNumber": "{{ registration.id }}",
  "ticketDownloadUrl": "https://codeday.vip/{{ registration.id }}/ticket",
  "ticketPrintUrl": "https://codeday.vip/{{ registration.id }}/ticket",
  "modifyReservationUrl": "https://codeday.vip/{{ registration.id }}",
  "modifiedTime": "{{ registration.modified_at.timestamp|date('c') }}",

  "potentialAction": {
    "@type": "ViewAction",
    "url": "https://codeday.vip/{{ registration.id }}",
    "target": "https://codeday.vip/{{ registration.id }}",
    "name": "Sign Waiver"
  }
}
{% endblock %}

{% block body %}
    {% if registration.type == 'mentor' %}
        {% include "emails/registration/parts/mentor.twig" %}
    {% elseif registration.type == 'judge' %}
        {% include "emails/registration/parts/judge.twig" %}
    {% elseif registration.type == 'sponsor' %}
        {% include "emails/registration/parts/sponsor.twig" %}
    {% elseif registration.type == 'vip' %}
        {% include "emails/registration/parts/vip.twig" %}
    {% elseif registration.type == 'volunteer' %}
        {% include "emails/registration/parts/volunteer.twig" %}
    {% elseif registration.type == 'teacher' %}
        {% include "emails/registration/parts/teacher.twig" %}
    {% elseif registration.type == 'press' %}
        {% include "emails/registration/parts/press.twig" %}
    {% else %}
        {% include "emails/registration/parts/student.twig" %}
    {% endif %}

    <p>We're here to make sure the event is as fun as possible. If you have any questions, just hit reply. Otherwise,
        we'll see you 
        {% if registration.type == 'judge' %}
            {{ registration.event.ends_at|date('F j, Y') }} at 9am!
        {% else %}
            {{ registration.event.starts_at|date('F j, Y') }}!
        {% endif %}
    </p>

    <p>&nbsp;</p>

    <table width="400" style="width:400px; border: 1px solid #e6e6e6;margin-bottom: 2rem !important;margin-top: 2rem !important">
        <tr>
            <td align="center">
                <h2 style="margin-bottom:0">Receipt</h2>
                <p style="color: #bdbdbd;margin-bottom:1rem;margin-top:0">Order placed on {{ registration.created_at.timestamp|date('F j, Y') }}</p>
                <p>
                    <strong>CodeDay {{ registration.event.name }}</strong><br />
                    {% if registration.type == 'judge' %}
                        {{ registration.event.ends_at|date('F j, Y') }}, 9am<br />
                    {% else %}
                        {{ registration.event.starts_at|date('F j, Y') }}, 11am<br />
                    {% endif %}
                    {% if registration.event.venue %}
                        Hosted at {{ registration.event.venue.name }}<br />
                        {{ registration.event.venue_address_1 }}<br />
                        {% if registration.event.venue_address_2 %}
                            {{ registration.event.venue_address_2 }}<br />
                        {% endif %}
                        {{ registration.event.venue.city }} {{ registration.event.venue.state }} {{ registration.event.venue.postal }}
                    {% endif %}
                </p>
                <hr style="border:none;border-top:1px solid #e6e6e6" />
                <table style="margin: 0 auto">
                    <tr align="left">
                        <th width="35%">Ticket</th>
                        <th width="55%">Attendee</th>
                        <th width="10%">Cost</th>
                    </tr>
                    {% set tax = 0 %}
                    {% for reg in registration.all_in_order %}
                        <tr>
                            <td style="padding-right: 1rem">{% if reg.type == 'vip' %}VIP{% else %}{{ reg.type|capitalize }}{% endif %}</td>
                            <td style="padding-right: 1rem">{{ reg.name }}</td>
                            <td>{{ reg.amount_paid|number_format(2) }}</td>
                            {% set tax = tax + reg.tax_paid %}
                        </tr>
                    {% endfor %}
                    {% if tax > 0 %}
                        <tr>
                            <td>&nbsp;</td>
                            <td style="text-align: right">Sales Tax:</td>
                            <td> {{ tax|number_format(2) }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td style="font-weight: bold; border-top: 1px solid #565656">{{ (registration.order_amount_paid + tax)|number_format(2) }}</td>
                    </tr>
                </table>
                <hr style="border:none;border-top:1px solid #e6e6e6" />
                <p><img src="https://codeday.vip/{{ registration.id }}/ticket/barcode" alt="Your ticket barcode" /></p>
                <p>
                    <a href="https://codeday.vip/{{ registration.id }}">
                        <img src="https://codeday.vip/assets/img/ticket-print.png" alt="Print your ticket" />
                    </a>
                    <a href="https://codeday.vip/{{ registration.id }}">
                        <img src="https://codeday.vip/assets/img/ticket-apple.png" alt="Add to Apple Wallet" />
                    </a>
                </p>
            </td>
        </tr>
    </table>
{% endblock %}
