{% extends "emails/template_transactional.twig" %}
{% block unsubscribe %}You cannot unsubscribe from this sort of email.{% endblock %}
{% block preview %}Just a reminder that you're going to CodeDay this weekend! (Are you excited? I am!){% endblock %}
{% block img %}https://srnd-cdn.net/emails/header-line.jpg{% endblock %}
{% block title %}I can't believe it's almost here!{% endblock %}

{% block sign_img %}https://srnd-cdn.net/emails/sign-john.png{% endblock %}
{% block sign_name %}John Peter{% endblock %}
{% block sign_title %}100% Authentic Human{% endblock %}
{% block sign_picture %}https://srnd-cdn.net/emails/pic-john.png{% endblock %}
{% block body %}
    <p>{{ registration.first_name }}!</p>

    <p>I wanted to remind you one last time that you are scheduled to attend CodeDay {{ registration.event.name }}:</p>
        
    <p style="text-align: center">
        <strong>CodeDay {{ registration.event.name }}</strong><br />
        {% if registration.event.venue %}
            Hosted at {{ registration.event.venue.name }}<br />
            {{ registration.event.venue_address_1 }}<br />
            {% if registration.event.venue_address_2 %}
                {{ registration.event.venue_address_2 }}<br />
            {% endif %}
            {{ registration.event.venue.city }} {{ registration.event.venue.state }} {{ registration.event.venue.postal }}
        {% endif %}
    </p>

    <p style="text-align: center"><img src="https://codeday.vip/{{ registration.id }}/ticket/barcode" /></p>
    <p style="text-align:center">
        <a href="https://codeday.vip/{{ registration.id }}">
            <img src="https://codeday.vip/assets/img/ticket-print.png" />
        </a>
        <a href="https://codeday.vip/{{ registration.id }}">
            <img src="https://codeday.vip/assets/img/ticket-apple.png" />
        </a>
    </p>

    <h2>Our sponsors made this possible.</h2>

    <p>Putting on CodeDay costs money: about $38 per student to be precise. You might notice that's more than your
       ticket cost...</p>

    <p>CodeDay would not be possible without sponsors, so we wanted to take a second to thank them. You'll hear more
       about them this weekend, but here's as summary.</p>

    <p><strong>HERE:</strong> Location data enables us to connect with our environment. It can help you find a friend,
       buy Starbucks on the go, find your Lyft and ensure your Amazon packages gets to you. Join Michael Palermo, a HERE
       Developer Evangelist, to learn more about location services and see location data in action as he demonstrates
       how to easily embed location data in your apps. Create your account on developer.here.com before the session!</p>
    <p><strong>HERE is also hosting a coding challenge at the end of their workshop: the first person to complete the challenge
       will win a Sparkfun Inventor kit valued at ~$100!</strong></p>

    <p><strong>Splunk:</strong> CodeDay is supported nationwide by Splunk4Good. Customers use Splunk to search, monitor,
       analyze and visualize machine data.</p>

    <p><strong>LexisNexis Risk Solutions:</strong> LexisNexis Risk Solutions is proud to support CodeDay nationwide.
       They are known for creating HPCC Systems, a big-data processing platform that you can learn more about this
       weekend.</p>
    <p><a href="https://srnd-cdn.net/codeday/lnr-internships.pdf">LexisNexis Risk Solutions is hiring summer interns,
       and CodeDay attendees are invited to apply. Click here for more information.</a></p>

    {% if registration.event.sponsors|length > 0 %}
        <p>In addition, your event is supported locally by:</p>
        <ul>
            {% for sponsor in registration.event.sponsors %}
                <li>{% if sponsor.url %}<a href="{{ sponsor.url }}">{{ sponsor.name }}</a>{% else %}{{ sponsor.name }}{% endif %}{% if sponsor.blurb %}: {{ sponsor.blurb }}{% endif %}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <p>CodeDay could not happen without sponsors. If you have a moment, please
       <a href="https://twitter.com/intent/tweet?hashtags=CodeDay%2C&original_referer=https%3A%2F%2Fnull.jsbin.com%2Frunner&ref_src=twsrc%5Etfw&related=Splunk4Good%2CLexisNexisRisk&text=%40Splunk4Good%20%40LexisNexisRisk%20Thank%20you%20for%20supporting&tw_p=tweetbutton">thank
       them for making CodeDay possible!</a></p>


  {% set perk = false %}
  {% for sponsor in registration.event.sponsors %}{% if sponsor.perk %}{% set perk = true %}{% endif %}{% endfor %}
  {% if perk and (registration.type == 'student' or registration.type == 'volunteer') %}
    <h2>Just for you...</h2>

    {% for sponsor in registration.event.sponsors %}
      {% if sponsor.perk %}
        <p>{{ sponsor.perk|nl2br }}</p>
      {% endif %}
    {% endfor %}
  {% endif %}

  <h2>If something goes wrong...</h2>

  <p>If you need to contact our team for any reason, please call (888) CODE-230. This number will quickly find a local
     CodeDay staff member who's available. This number will only work on the weekend of CodeDay.</p>
{% endblock %}
