{% extends "template.twig" %}
{% block title %}{{ event.full_name }}{% endblock %}
{% block section %}event{% endblock %}
{% block subnav %}{% include "event/subnav.twig" %}{% endblock %}
{% block content %}
    <header>
        <h2>Shipping</h2>
        <p>Please enter information on who can receive the shipment of swag and supplies for the event.</p>
    </header>
    <form method="post">
        <div class="field">
            <label for="ship_name">Name</label>
            <input type="text" name="ship_name" id="ship_name" value="{{ event.ship_name }}" placeholder="Tyler Menezes" />
            <span class="help">The name of the person receiving the shipment, if a specific person is designated.</span>
        </div>
        <div class="field">
            <label for="ship_company">Company</label>
            <input type="text" name="ship_company" id="ship_company" value="{{ event.ship_company }}" placeholder="Foocorp" />
            <span class="help">The name of the company receiving the shipment.</span>
        </div>
        <div class="field">
            <label for="ship_address_1">Ship Address</label>
            <input type="text" name="ship_address_1" id="ship_address_1" value="{{ event.ship_address_1 }}" placeholder="111 Main St."/>
            <input type="text" name="ship_address_2" id="ship_address_2" value="{{ event.ship_address_2 }}" placeholder="STE 100" />
            <input type="text" name="ship_country" id="ship_country" value="{{ event.ship_country }}" placeholder="USA" />
            <input type="text" name="ship_postal" id="ship_postal" value="{{ event.ship_postal }}" placeholder="98109" />
            <input type="text" name="ship_state" id="ship_state" value="{{ event.ship_state }}" placeholder="WA" />
            <input type="text" name="ship_city" id="ship_city" value="{{ event.ship_city }}" placeholder="Seattle" />
            <span class="help">The address of the organization or person receiving the shipment, including suite or floor number (if required).</span>
        </div>
        <div class="field">
            <label for="ship_is_resedential">Is Residential</label>
            <input type="checkbox" name="ship_is_resedential" id="ship_is_resedential" {% if event.ship_is_resedential %}checked{% endif %} />
            <span class="help">Check if the shipment is being delivered to a house/apartment/etc.</span>
        </div>

        <input type="submit" value="Save" />
    </form>
{% endblock %}