<ul>
    <li><a href="/event/{{ event.id }}">{{ event.full_name }}</a></li>
    <li><a href="/event/{{ event.id }}/venue">Venue</a></li>
    {% if not event.is_shipped %}
        <li><a href="/event/{{ event.id }}/shipping">Shipping</a></li>
    {% endif %}
    <li><a href="/event/{{ event.id }}/registrations">Registrations</a></li>
    <li><a href="/event/{{ event.id }}/promotions">Promotions</a></li>
    <li><a href="/event/{{ event.id }}/emails">Emails</a></li>
    <li><a href="/event/{{ event.id }}/sponsors">Sponsors</a></li>
    <li><a href="/event/{{ event.id }}/activities">Special Activities</a></li>
    <li><a href="/event/{{ event.id }}/subusers">Subusers</a></li>
</ul>