{% extends "template.twig" %}
{% block title %}Shipments{% endblock %}
{% block section %}tools{% endblock %}
{% block subnav %}{% include "tools/subnav.twig" %}{% endblock %}
{% block content %}
    <style>
        .ready {
            color: green;
        }
        .address {
            color: orange;
        }
        .ship-options input {
            width: 100%;
        }
    </style>
    <header>
        <h2>Shipments</h2>
        <p>This tool allows you to easily generate supply shipment labels.</p>
    </header>
    {% set ship_ready_exists = false %}

    <form method="post">
        <table class="ship-options">
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Ship For</th>
                </tr>
            </thead>
            <tbody>
                {% for event in loaded_batch.events %}
                    {% if event.shipment_number is null %}
                        {% if event.ship_ready %}
                            <tr class="ready">
                            {% set ship_ready_exists = true %}
                        {% elseif event.ship_address %}
                            <tr class="address">
                        {% else %}
                            <tr>
                        {% endif %}
                            <td>{{ event.name }}</td>
                            <td><input type="number" name="ship_fors[{{ event.id }}]" value="{{ event.ship_for }}" placeholder="{{ event.registrations.count }}(+{{ event.registrations_this_week|length }})/{{ event.registration_estimate }}"/></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="Save"/>
    {{ csrf|raw }}</form>
{% endblock %}