{% extends "emails/template_transactional.twig" %}
{% block unsubscribe %}You cannot unsubscribe from this sort of email.{% endblock %}
{% block preview %}It's almost CodeDay! Here's what you need to know for this weekend.{% endblock %}
{% block img %}https://srnd-cdn.net/emails/header-judges.jpg{% endblock %}
{% block title %}It's almost CodeDay!{% endblock %}

{% block sign_img %}https://srnd-cdn.net/emails/sign-tyler.png{% endblock %}
{% block sign_name %}Tyler Menezes{% endblock %}
{% block sign_title %}Executive Director, srnd.org{% endblock %}
{% block sign_picture %}https://srnd-cdn.net/emails/pic-tyler.png{% endblock %}
{% block body %}
    <p>{{ registration.first_name }}, we are excited to have you join us for judging <strong>this Sunday at 9am.</strong></p>

    {% if registration.event.evangelist %}
        <p>Your primary contact this weekend will be {{ registration.event.evangelist.name }}, who can be reached at
           {{ registration.event.evangelist.phone }} or {{ registration.event.evangelist.email }}.</p>
        <p>If you have any trouble getting in touch, please call (888) CODE-230.</p>
    {% endif %}

    <p style="text-align: center">
        <strong>CodeDay {{ registration.event.name }}</strong><br />
        {% if registration.event.venue %}
            Hosted at {{ registration.event.venue.name }}<br />
            {{ registration.event.venue_address_1 }}<br />
            {% if registration.event.venue_address_2 %}
                {{ registration.event.venue_address_2 }}<br />
            {% endif %}
            {{ registration.event.venue.city }} {{ registration.event.venue.state }} {{ registration.event.venue.postal }}
        {% endif %}
    </p>

    <p>CodeDay is judged very differently from a lot of similar events. We don't put any focus on business model, and
       generally like to reward teams who tried something new, and who pushed themselves outside of what they could
       already do.</p>
    <p>You can <a href="http://assets.srnd.org/codeday/judges.pdf">read our judge info sheet</a> to learn more about
       judging. We'll also explain judging when you arrive.</p>
{% endblock %}
