{% extends "emails/template_transactional.twig" %}
{% block header %}
    <img src="https://clear.codeday.org/assets/img/email_preevent_header_01.jpg" alt="It's almost CodeDay"/>
{% endblock %}
{% block body %}
    <p>Hi there {{ registration.first_name }}!</p>
    <p>You're registered for the upcoming CodeDay as a mentor; we're excited to have you join us this weekend! This
       email will give you all the information you will need for this weekend.</p>

    <h2>Event Information</h2>
    {% if registration.event.evangelist %}
        <p>Your primary contact this weekend will be {{ registration.event.evangelist.name }}, who can be reached at
           {{ registration.event.evangelist.phone }} or {{ registration.event.evangelist.email }}.</p>
        <p>If you hear from a parent who needs to reach a student, please give them the phone number (888) CODE-230,
           rather than any staff numbers &mdash; this number will route to multiple staff until it reaches someone.</p>
    {% endif %}

    <table width="100%">
        <tr>
            <td align="center">
                <p>
                    <strong>CodeDay is hosted at {{ registration.event.venue.name }}</strong><br />
                    {{ registration.event.venue_address_1 }}<br />
                    {% if registration.event.venue_address_2 %}
                        {{ registration.event.venue_address_2 }}<br />
                    {% endif %}
                    {{ registration.event.venue.city }} {{ registration.event.venue.state }} {{ registration.event.venue.postal }}
                </p>
            </td>
        </tr>
    </table>

    <hr />

    <h3>Mentoring at CodeDay is Different</h3>
    <p>CodeDay is not about teaching students how to code, it's about getting students excited, and giving them the
       resources to continue learning on their own.</p>
    <p><strong>You are not a lecturer. You are not StackOverflow.</strong> You're there to help students get to the
       next step, which means helping them learn how to learn.</p>
    <p><strong><a href="https://codeday.training.srnd.org/mentors.html" target="_blank">Please read our mentor guide
       before you arrive for more info!</a></strong></p>
{% endblock %}
