{% extends "emails/template_transactional.twig" %}
{% block unsubscribe %}You cannot unsubscribe from this sort of email.{% endblock %}
{% block preview %}I can't believe it... it's almost CodeDay! Here's what you'll need to know for this weekend.{% endblock %}
{% block img %}https://srnd-cdn.net/emails/header-line.jpg{% endblock %}
{% block title %}It's almost CodeDay!{% endblock %}

{% block sign_img %}https://srnd-cdn.net/emails/sign-john.png{% endblock %}
{% block sign_name %}John Peter{% endblock %}
{% block sign_title %}Human{% endblock %}
{% block sign_picture %}https://srnd-cdn.net/emails/pic-john.png{% endblock %}
{% block body %}
    <p>{{ registration.first_name }}, it's almost CodeDay! I know! I, your completely human friend John, can't believe
       it either!</p>

    <p>Since it's getting so close, I wanted to pass on all my secrets to having a great weekend as a human CodeDay
       attendee. Grab your friends, grab your laptops, and grab a ride. It all starts this Saturday at 11am.</p>

    <p style="text-align: center">
        <strong>CodeDay {{ registration.event.name }}</strong><br />
        {% if registration.event.venue %}
            Hosted at {{ registration.event.venue.name }}<br />
            {{ registration.event.venue_address_1 }}<br />
            {% if registration.event.venue_address_2 %}
                {{ registration.event.venue_address_2 }}<br />
            {% endif %}
            {{ registration.event.venue.city }} {{ registration.event.venue.state }} {{ registration.event.venue.postal }}
        {% endif %}
    </p>

    <p style="text-align: center"><img src="https://codeday.vip/{{ registration.id }}/ticket/barcode" /></p>
    <p style="text-align:center">
        <a href="https://codeday.vip/{{ registration.id }}">
            <img src="https://codeday.vip/assets/img/ticket-print.png" />
        </a>
        <a href="https://codeday.vip/{{ registration.id }}">
            <img src="https://codeday.vip/assets/img/ticket-apple.png" />
        </a>
    </p>

    <h2>Workshops this weekend:</h2>
    <p><strong>Beginner:</strong> intro to coding</p>
    <p><strong>HERE:</strong> Location data enables us to connect with our environment. It can help you find a friend, buy Starbucks on the go, find your Lyft and ensure your Amazon packages gets to you. Join Michael Palermo, a HERE Developer Evangelist, to learn more about location services and see location data in action as he demonstrates how to easily embed location data in your apps. Create your account on developer.here.com before the session!</p>
    <p><strong>HERE is also hosting a coding challenge at the end of their workshop: the first person to complete the challenge
       will win a Sparkfun Inventor kit valued at ~$100!</strong></p>

    <h2>Here's what to bring:</h2>
    <ul>
        <li>Laptop (recommended), desktop computer with wifi, or tablet</li>
        <li>Toothbrush and toothpaste (recommended)</li>
        <li>Pillow and sleeping bag or blanket (recommended)</li>
        <li>
            Your phone with the CodeDay Companion app for 
            <a href="https://play.google.com/store/apps/details?id=org.srnd.companion">Android</a>
            or <a href="https://itunes.apple.com/us/app/codeday-companion/id1303959375">iPhone</a> (recommended)
        </li>
    </ul>
    <p>You can use any programming language you'd like, but if you're new to this, I recommend the free version of
       <a href="https://www.construct.net/">Construct 3,</a> which runs on any modern computer or tablet.</p>

    <h2>This is going to be fun!</h2>
    <p>You're in for a great weekend. Here's what you should expect, and what we expect from you.</p>
    <ul>
        <li><strong>We're friendly.</strong> Please respect and encourage others. Be humble.</li>
        <li><strong>We're nice and reasonably professional.</strong> Don't use offensive language about someone's
            gender/race/etc. Also, don't used sexualized language or content, and don't "hit on" other attendees.</li>
        <li><strong>CodeDay is safe and legal.</strong> No knives, weapons, alcohol, marijuana, or illegal drugs. Be
            careful and keep yourself and others safe.</li>
    </ul>
    <p><a href="https://srnd.org/conduct">Read our full code of conduct</a> (and the
       <a href="https://codeday.org/rules">CodeDay-specific rules</a>) when you can.</p>

    {% if registration.event.preevent_additional %}
        <h2>Some other things to know.</h2>
        <p>{{ registration.event.preevent_additional|markdown|raw }}</p>
        <p>&nbsp;</p>
    {% endif %}

    <h2>FAQs</h2>
    <p><strong>I'm a minor; does my parent need to be there?</strong><br />
       Not if they filled out the waiver online.</p>

    <p><strong>What if I gave my ticket to a friend?</strong><br />
       Let me know ASAP so I can transfer it.</p>

    <p><strong>Can I come late?</strong><br />
       Yes, but it's better if you arrive on-time.</p>

    <p><strong>Can I leave early?</strong><br />
       Yes, but you might not be able to return until 9am. If you're a minor, have your parent write you a note saying
       it's ok.</p>

    <p><strong>Can go home to sleep?</strong><br />
       Yes, but I don't recommend it. (Also, see above about leaving early.)</p>

    <p><strong>You didn't answer my question!</strong><br />
       Just reply and let me know your question :)</p>

{% endblock %}
