{% extends "template.twig" %}
{% block title %}Checkin{% endblock %}
{% block section %}dayof{% endblock %}
{% block subnav %}{% include "dayof/subnav.twig" %}{% endblock %}
{% block content %}
        <input type="text" id="search" placeholder="Search by name or email" value="" autocomplete="off" />
        <div class="checkin-registrations">
            {% for registration in event.registrations %}
                <div class="registration {{ registration.type }} {% if (registration.type == 'student' or registration.type == 'volunteer') and (not registration.age or not (registration.parent_no_info or registration.parent_name) or not registration.waiver_pdf_link) %}missing{% endif %} {% if registration.checked_in_at %}checked-in{% else %}checked-out{% endif %}">
                    <span class="img" style="background-image: url({{ registration.profile_image_safe }})"></span>
                    <span class="name"><a href="/event/{{ registration.event.id }}/registrations/attendee/{{ registration.id }}" target="_blank">{{ registration.name }}</a></span>
                    <span class="email">{{ registration.email }}</span>
                    <span class="id">{{ registration.id }}</span>
                    <span class="info">{{ registration.type }}: <a href="https://codeday.vip/{{ registration.id }}" target="_blank">{{ registration.id }}</a></span>
                    {% if registration.type == 'student' or registration.type == 'volunteer' %}
                        <span class="age">Age: {% if registration.age and registration.age <= 25 %}{{ registration.age }}{% elseif registration.age > 25 %}<span class="warning">{{ registration.age }} (over 25!)</span>{% else %}<span class="missing">missing</span>{% endif %}</span>
                        <span class="parent">Parent: {% if registration.parent_no_info %}(exempt){% elseif not registration.parent_name %}<span class="missing">missing</span>{% else %}{{ registration.parent_name }}{% endif %}</span>
                        <span class="waiver">Waiver: {% if registration.waiver_pdf_link %}<a href="{{ registration.waiver_pdf_link }}" target="_blank">ok</a>{% else %}<span class="missing">missing</span>{% endif %}</span>
                    {% else %}
                        <span class="age">Age: (exempt)</span>
                        <span class="age">Parent: (exempt)</span>
                        <span class="age">Waiver: (exempt)</span>
                    {% endif %}

                    <form class="checkin" method="post">
                        <input type="hidden" name="id" value="{{ registration.id }}" />
                        <input type="hidden" name="action" value="{% if registration.checked_in_at %}out{% else %}in{% endif %}"/>
                        <input type="submit" value="{% if registration.checked_in_at %}Check Out{% else %}Check In{% endif %}" />
                    </form>
                </div>
            {% endfor %}
        </div>
{% endblock %}
{% block scripts %}
    <script type="application/javascript">
        $('#search').on('keyup', function(e) {
            e.preventDefault();
            e.stopPropagation();

            var search = $(this).val();

            $('.checkin-registrations .registration').each(function(i, elem) {
                var name = "" + $(elem).children('.name').text();
                var email = "" + $(elem).children('.email').text();
                var id = "" + $(elem).children('.id').text();

                if (name.toUpperCase().indexOf(search.toUpperCase()) >= 0
                        || email.toUpperCase().indexOf(search.toUpperCase()) >= 0
                        || id.toUpperCase().indexOf(search.toUpperCase()) >= 0
                    || search == "") {
                    $(this).css('display', 'inline-block');
                } else {
                    $(this).css('display', 'none');
                }
            });

            if (e.which == 13) {
                if ($('.checkin-registrations .registration:visible').length === 1) {
                    $('.checkin-registrations .registration:visible input[type="submit"]').click();
                }
            }

            return false;
        });
        $('form.checkin').on('submit', function(e){
            e.preventDefault();
            e.stopPropagation();

            var _this = $(this);
            var id = $(this).children('input[name="id"]').val();
            var action = $(this).children('input[name="action"]').val();

            try {
                var soundSuccess = new Audio('/assets/mp3/success.mp3');
                var soundStaff = new Audio('/assets/mp3/staff.mp3');
                var soundVip = new Audio('/assets/mp3/vip.mp3');
                var soundFailure = new Audio('/assets/mp3/failure.mp3');
                var soundCheckout = new Audio('/assets/mp3/checkout.mp3');
            } catch(e) {}


            if (_this.parent('.registration').is('.missing') && action == 'in' && _this.find('input[type="submit"]').val() != 'Force') {
                soundFailure.play();
                _this.find('input[type="submit"]').val('Force');
                setTimeout(function(){
                    $('#search').val('').trigger('keyup').focus();
                }, 2500);
                return false;
            }


            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/dayof/checkin?event={{ event.id }}',
                data: {
                    id: id,
                    action: action,
                    "_token": "{{csrf_token|raw}}"
                },
                success: function(data) {
                    if (action == 'in') {
                        _this.parent('.registration').addClass('checked-in');
                        _this.parent('.registration').removeClass('checked-out');
                        _this.children('input[name="action"]').val('out');
                        _this.children('input[type="submit"]').val('Check Out');
                    } else {
                        _this.parent('.registration').addClass('checked-out');
                        _this.parent('.registration').removeClass('checked-in');
                        _this.children('input[name="action"]').val('in');
                        _this.children('input[type="submit"]').val('Check In');
                    }
					setTimeout(function(){
						$('#search').val('').trigger('keyup').focus();
					}, 2500);

                    if (action == 'in') {

                        if (_this.parent('.registration').has('.warning').length > 0 && action == 'in') soundFailure.play();
                        else if (_this.parent('.registration').hasClass('vip')) soundVip.play();
                        else if (_this.parent('.registration').hasClass('press')) soundVip.play();
                        else if (_this.parent('.registration').hasClass('student')) soundSuccess.play();
                        else soundStaff.play();
                    } else {
                        soundCheckout.play();
                    }
                },
                error: function(error) {
                    swal({
                        title: 'Something has gone wrong.',
                        text: error,
                        type: 'error'
                    });
                    soundFailure.play();
                }
            });

            return false;
        });
    </script>
{% endblock %}
