<h2>Day-Of<br /><span class="confidential">Confidential</span></h2>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" />
<div class="switcher">
    {% if me.is_admin %}
        {% set events = managed_batch.events %}
    {% else %}
        {% set events = me.current_managed_events %}
    {% endif %}

    <select id="event-switcher">
        {% for switch_event in events %}
            <option value="{{ switch_event.id }}"
                    {% if switch_event.id == event.id %}selected{% endif %}>{{ switch_event.name }} {{ switch_event.batch_name }}</option>
            <option value="">(none)</option>
        {% endfor %}
    </select>
</div>

<section class="checkin">
    <h3><i class="fi-torsos-all-female"></i> Checkin/out</h3>
    <ul>
        <li><a href="/dayof/checkin">Main Doors</a></li>
        <li><a href="/dayof/equipment">Equipment</a></li>
        <li><a href="/dayof/break">Break</a></li>
        <li><a href="#" class="new-registration-button">+ Register at the Door</a></li>
    </ul>
</section>

<section class="checkin">
    <h3><i class="fi-wrench"></i> Tools</h3>
    <ul>
        <li><a href="https://showcase.srnd.org/login" target="_blank">Showcase</a></li>
        <li><a href="/dayof/codecup">CodeCup Login Info</a></li>
        <li><a href="/event/{{ event.id }}/notes" target="_blank">Show Notes</a></li>
    </ul>
</section>

<section class="displays">
    <h3><i class="fi-projection-screen"></i> Displays</h3>
    <ul>
        <li><a href="/dayof/deck/slides" target="_blank">Kickoff</a></li>
        <li><a href="https://showcase.srnd.org/{{event.batch.name|lower|replace({' ': '-'})}}/{{event.webname}}/ideas?refresh" target="_blank">Pitches</a></li>
        <li><a href="https://showcase.srnd.org/{{event.batch.name|lower|replace({' ': '-'})}}/{{event.webname}}/presentations?refresh" target="_blank">Presentation Order</a></li>
    </ul>
</section>

<section class="phone">
    <h3><i class="fi-telephone"></i> Phone</h3>
    <ul>
        <li><a href="/event/{{ event.id }}/announcements" target="_blank">Push Announcement</a></li>
        <li><a href="/dayof/support-calls">Support Call History</a></li>
        <li><a href="/dayof/emergency">Emergency Contacts</a></li>
    </ul>
</section>

<script type="text/javascript">
    $('#event-switcher').on('change', function(){
        if ($(this).val())
            window.location = '/dayof/switch?event='+$(this).val();
    });
</script>
