{% extends "template.twig" %}
{% block title %}Tidbits{% endblock %}
{% block section %}tools{% endblock %}
{% block subnav %}{% include "tools/subnav.twig" %}{% endblock %}
{% block content %}
    <header>
        <h2>Tidbits for {{ event.name }}</h2>
    </header>

    <h3>Directory Listing</h3>

    <table class="directory">
      {% if event.manager %}
          <tr class="event">
              <th>{{ event.name }}</th>
              <td>{{ event.manager.name }}</td>
              <td>Event Manager</td>
              <td><a href="mailto:{{ event.manager.email }}">{{ event.manager.email }}</a></td>
              <td><a href="tel:{{ event.manager.phone }}">{{ event.manager.phone }}</a></td>
          </tr>
          {% if event.evangelist %}
              <tr>
                  <th>&nbsp;</th>
                  <td>{{ event.evangelist.name }}</td>
                  <td>Lead Evangelist</td>
                  <td><a href="mailto:{{ event.evangelist.email }}">{{ event.evangelist.email }}</a></td>
                  <td><a href="tel:{{ event.evangelist.phone }}">{{ event.evangelist.phone }}</a></td>
              </tr>
          {% endif %}
          {% for grant in event.grants %}
              <tr>
                  <th>&nbsp;</th>
                  <td>{{ grant.user.name }}</td>
                  <td>Volunteer</td>
                  <td><a href="mailto:{{ grant.user.email }}">{{ grant.user.email }}</a></td>
                  <td><a href="tel:{{ grant.user.phone }}">{{ grant.user.phone }}</a></td>
              </tr>
          {% endfor %}
      {% endif %}
    </table>

    <h3>Sponsors</h3>

    <table>
      <tr>
        <th>Sponsor</th>
        <th>URL</th>
        <th>Blurb</th>
      </tr>
      {% for sponsor in event.sponsors %}
        <tr>
          <td>{{ sponsor.name }}</td>
          <td><a href="{{ sponsor.url }}">{{ sponsor.name }} Website</a></td>
          <td>{{ sponsor.blurb }}</td>
        </tr>
      {% endfor %}
    </table>

    <h3>Venue Info</h3>

    {% if event.venue %}
      {{ event.venue.name }}
      {{ event.venue.full_address }}<br><br>

      {{ event.venue_contact_first_name }} {{ event.venue_contact_last_name }}<br>
      <a href="mailto:{{ event.venue_contact_email }}">{{ event.venue_contact_email }}</a><br>
      <a href="tel:{{ event.venue_contact_phone }}">{{ event.venue_contact_phone }}</a>
    {% else %}
      <i>This event doesn't have a venue yet.</i>
    {% endif %}

    <h3>Public Notes</h3>

    {% if event.public_notes %}
      <code>
        {{ event.public_notes|markdown|raw }}
      </code>
    {% else %}
      <i>This event doesn't have any public notes.</i>
    {% endif %}
{% endblock %}
