{% extends "emails/template_transactional.twig" %}
{% block header %}
  <img src="https://clear.codeday.org/assets/img/email_preevent_header_01.jpg" alt="It's almost CodeDay"/>
{% endblock %}
{% block body %}
  <p>Hello there!</p>

  <p>We might not have met yet, but your student {{ registration.first_name }} registered for CodeDay
     {{ registration.event.name }} and we wanted to introduce ourselves: we're StudentRND, the non-profit which
     organizes CodeDay in over 40 cities nationwide several times a year!</p>

  <p>At CodeDay, your student is going to have the opportunity to meet students of all backgrounds and, working together,
     build a game or application in just 24 hours. We think this is not only a lot of fun, but also a great opportunity
     for them to learn something new, meet new people, and become better prepared for the information-age job market.</p>

    <p>Before any of that happens, we wanted to give you some basic information about the event in case you want to stay
     involved over the weekend:</p>

  <h2>Where is it?</h2>
  <table width="100%">
    <tr>
      <td align="center">
        <p>
          <strong>CodeDay {{ registration.event.name }}</strong><br />
          {{ registration.event.starts_at|date('F j, Y') }}, noon-noon<br />
          {% if registration.event.venue %}
            Hosted at {{ registration.event.venue.name }}<br />
            {{ registration.event.venue_address_1 }}<br />
            {% if registration.event.venue_address_2 %}
              {{ registration.event.venue_address_2 }}<br />
            {% endif %}
            {{ registration.event.venue.city }} {{ registration.event.venue.state }} {{ registration.event.venue.postal }}
          {% endif %}
        </p>
      </td>
    </tr>
  </table>

  <h2>When does the event start/end? What's the schdule?</h2>

  <p>Doors will open at <strong>11am on {{ registration.event.starts_at|date('l, F j') }}</strong>, and the event will
     start at noon. Your student is welcome to arrive at any time between 11am and 12 noon, but we ask that they try to
     avoid being late.</p>

  <p>The event is over at 12 noon on {{ registration.event.ends_at|date('l, F j') }}. <strong>(You are invited to see
     the presentations! If you would like to come, please arrive at {{ registration.event.venue.name }} at
     9:45am!)</strong></p>

    <p>We'll provide your student with food throughout the event, so they'll be able to spend the whole day at
       CodeDay.</p>

  <p>There's a full schedule for the event at https://codeday.org/{{ registration.event.webname }}. (Please note that
     the venue will be locked down overnight. Students that need to leave in the night will be unable to return until
     the morning. Students under 18 will need a parent to pick them up.)</p>

    <h2>How can I see what's happening?</h2>

    <p>Unfortunately, parents are not allowed to stay during the event, so the best way to stay up-to-date with what
       your student is working on is to <a href="https://twitter.com/studentrnd">follow us on Twitter</a>, where we'll
       be posting pictures, videos, and interviews with students.</p>

  <h2>Who's in charge? How do I reach you?</h2>

  <p>We have several people running the show at CodeDay {{ registration.event.name }}, but the one you're most likely to
     interact with is {{ registration.event.evangelist.name }} &mdash; our Lead Tech Evangelist.</p>

  <p>If you need to contact us after the event starts, please call (888) CODE-230 (888-263-3230). We'll route your call
     to someone who's currently available at the event. (If you need to contact us <em>before</em> the event, please
     reply to this email.)</p>

  <hr />

  <p>We're excited to see your student soon, and please let us know if you have any questions.</p>
{% endblock %}
