{% extends "emails/template_transactional.twig" %}
{% block header %}
    <img src="https://clear.codeday.org/assets/img/email_preevent_header_01.jpg" alt="It's almost CodeDay"/>
{% endblock %}
{% block body %}
    <p>Is it really that time?</p>
    <p>Yes, yes it is. Dearest staff, it is almost time for CodeDay. At 11am on Saturday, participants will be waiting
       to start coding.</p>
    <p>This email will give you all the information you will need to prepare.</p>
    
    <h2>Tools</h2>
    <ul>
        <li><a href="https://clear.codeday.org/">Clear</a></li>
        <li><a href="https://clear.codeday.org/tools/checkin?event={{ event.id }}">Checkin</a></li>
        <li><a href="https://clear.codeday.org/tools/deck/slides?event={{ event.id }}">Kickoff Slides</a></li>
        <li><a href="https://clear.codeday.org/tools/deck/notes?event={{ event.id }}">Kickoff Notes</a></li>
        <li><a href="http://wiki.studentrnd.org/display/EVG/CodeDay+Evangelism">Evangelism Guide</a></li>
        <li><a href="http://wiki.studentrnd.org/display/EVG/Emergency+Policies">Emergency Guide</a></li>
    </ul>

    <h2>The Venue</h2>
    <table width="100%">
        <tr>
            <td align="center">
                <p>
                    <strong>Hosted at {{ event.venue.name }}</strong><br />
                    {{ event.venue_address_1 }}<br />
                    {% if event.venue_address_2 %}
                        {{ event.venue_address_2 }}<br />
                    {% endif %}
                    {{ event.venue.city }} {{ event.venue.state }} {{ event.venue.postal }}
                </p>
                {% if event.venue_contact_first_name %}
                    <p>
                        If you have any problems, contact
                        <a href="mailto:{{ event.venue_contact_email }}">{{ event.venue_contact_first_name }}
                            {{ event.venue_contact_last_name }}</a>
                        {% if event.venue_contact_phone %}
                            at <a href="tel:{{ event.venue_contact_phone }}">{{ event.venue_contact_phone }}</a>
                        {% endif %}
                    </p>
                {% endif %}
            </td>
        </tr>
    </table>

    {% if event.sponsors|length > 0 %}
        <h2>Sponsors</h2>
        {% for sponsor in event.sponsors %}
            <h3>{{ sponsor.name }}</h3>
            <h4>{{ sponsor.blurb }}</h4>
            <p>{{ sponsor.description }}</p>
        {% endfor %}
    {% endif %}

    <h2>Contacts</h2>
    <table class="directory">
        <tr class="event">
            <td>Emergency</td>
            <td>Internal</td>
            <td>&nbsp;</td>
            <td><a href="tel:18559807628">(855) 980-7628</a></td>
        </tr>
        <tr class="event">
            <td>Emergency</td>
            <td>External (parents)</td>
            <td><a href="mailto:contact@studentrnd.org">contact@studentrnd.org</a></td>
            <td><a href="tel:18882633230">(888) CODE-230</a></td>
        </tr>
        <tr class="event">
            <td>{{ event.manager.name }}</td>
            <td>Event Manager</td>
            <td><a href="mailto:{{ event.manager.email }}">{{ event.manager.email }}</a></td>
            <td><a href="tel:{{ event.manager.phone }}">{{ event.manager.phone }}</a></td>
        </tr>
        {% if event.evangelist %}
            <tr>
                <td>{{ event.evangelist.name }}</td>
                <td>Lead Evangelist</td>
                <td><a href="mailto:{{ event.evangelist.email }}">{{ event.evangelist.email }}</a></td>
                <td><a href="tel:{{ event.evangelist.phone }}">{{ event.evangelist.phone }}</a></td>
            </tr>
        {% endif %}
        {% for grant in event.grants %}
            <tr>
                <td>{{ grant.user.name }}</td>
                <td>Volunteer</td>
                <td><a href="mailto:{{ grant.user.email }}">{{ grant.user.email }}</a></td>
                <td><a href="tel:{{ grant.user.phone }}">{{ grant.user.phone }}</a></td>
            </tr>
        {% endfor %}
        {% if event.venue_contact_first_name %}
            <tr>
                <td>{{ event.venue_contact_first_name }} {{ event.venue_contact_last_name }}</td>
                <td>Venue Contact</td>
                <td><a href="mailto:{{ event.venue_contact_email }}">{{ event.venue_contact_email }}</a></td>
                <td><a href="tel:{{ event.venue_contact_phone }}">{{ event.venue_contact_phone }}</a></td>
            </tr>
        {% endif %}
    </table>

    {% if event.notes %}
        <h2>Notes</h2>
        {{ event.notes|markdown|raw }}
    {% endif %}

    <p>Cheers,<br />
    The CodeDay Organizers</p>
{% endblock %}
