<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<table style="width:100%;max-width:800px;min-width:300px;border:none;border-collapse:collapse;margin: 0 auto;color: #565656;font-family: sans-serif;font-size: 16px;line-height: 24px;padding:2rem">
    <tbody>
        <tr>
            <td style="padding: 0;">
                <img style="width:100%;height: auto;margin-bottom: 1rem;" src="https://clear.codeday.org/assets/img/email_confirm_header_01.jpg" alt="See you at CodeDay!">
            </td>
        </tr>
        <tr>
            <td>
                <p>Hi {{ registration.first_name }},</p>
                <p>Thanks for registering for CodeDay {{ registration.event.name }}. Your ticket is confirmed, and we're really excited to meet you at noon on {{ registration.event.starts_at|date('F jS') }}.</p>
                {% if registration.order_amount_paid and registration.order_amount_paid != 0
                    and registration.order_amount_paid != registration.amount_paid %}
                    <p>Your card was charged ${{ registration.order_amount_paid }} for this and other tickets.</p>
                {% elseif registration.amount_paid and registration.amount_paid != 0 %}
                    <p>Your card was charged ${{ registration.amount_paid }} for this ticket.</p>
                {% endif %}
                <p>We'll follow up with more information when the event gets closer. Until then, if you have any questions about the event or your ticket, just reply to this email.</p>
                <p><strong>Please do not bring this email to CodeDay,</strong> we will check you in by name.</p>
            </td>
        </tr>
        <tr>
            <td>
                <hr style="background-color: #e9e9e9;width: 200px;height:5px;display: block;margin: 2rem auto;border: none;"/>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <p>
                    <strong>CodeDay {{ registration.event.name }}</strong><br />
                    {{ registration.event.starts_at|date('F j, Y') }}, noon-noon<br />
                    {% if registration.event.venue %}
                        Hosted at {{ registration.event.venue.name }}<br />
                        {{ registration.event.venue_address_1 }}<br />
                        {% if registration.event.venue_address_2 %}
                            {{ registration.event.venue_address_2 }}<br />
                        {% endif %}
                        {{ registration.event.venue.city }} {{ registration.event.venue.state }} {{ registration.event.venue.postal }}
                    {% endif %}
                </p>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>