<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<table style="width:100%;max-width:800px;min-width:300px;border:none;border-collapse:collapse;margin: 0 auto;color: #565656;font-family: sans-serif;font-size: 16px;line-height: 24px;padding:2rem">
    <tbody>
        <tr>
            <td style="padding: 0;">
                <img style="width:100%;height: auto;margin-bottom: 1rem;" src="https://clear.codeday.org/assets/img/email_confirm_header_01.jpg" alt="See you at CodeDay!">
            </td>
        </tr>
        <tr>
            <td>
                <p>Hi {{ registration.first_name }},</p>
                <p>Thanks for buying tickets for CodeDay {{ registration.event.name }}. Your registration is confirmed, and we're really excited to meet you at noon on {{ registration.event.starts_at|date('F jS') }}.</p>
                <p>We'll follow up with more information when the event gets closer. Until then, if you have any questions about the event or your ticket, just reply to this email.</p>
            </td>
        </tr>
        <tr>
            <td>
                <hr style="background-color: #e9e9e9;width: 200px;height:5px;display: block;margin: 2rem auto;border: none;"/>
            </td>
        </tr>
        <tr>
            <td style="text-align: center">
                <h2>Receipt</h2>
                <p>Order placed on {{ registration.created_at.timestamp|date('F j, Y') }}</p>
                <table style="margin: 0 auto">
                    <thead>
                        <tr style="border-bottom: 1px dotted #e9e9e9;">
                            <th>Ticket</th>
                            <th>Name</th>
                            <th>Item</th>
                            <th>Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reg in registration.all_in_order %}
                            <tr>
                                <td style="padding-right: 1rem">#{{ reg.id }}</td>
                                <td style="padding-right: 1rem">{{ reg.name }}</td>
                                <td style="padding-right: 1rem">{{ event.full_name }} Ticket</td>
                                <td>${{ reg.amount_paid|number_format(2) }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td style="font-weight: bold; border-top: 1px solid #565656">${{ registration.order_amount_paid|number_format(2) }}</td>
                        </tr>
                    </tbody>
                </table>
                {% if registration.order_amount_paid > 0 %}
                    <p>This will appear on your statement as "STUDENTRND CODEDAY"</p>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                <hr style="background-color: #e9e9e9;width: 200px;height:5px;display: block;margin: 2rem auto;border: none;"/>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <p>
                    <strong>CodeDay {{ registration.event.name }}</strong><br />
                    {{ registration.event.starts_at|date('F j, Y') }}, noon-noon<br />
                    {% if registration.event.venue %}
                        Hosted at {{ registration.event.venue.name }}<br />
                        {{ registration.event.venue_address_1 }}<br />
                        {% if registration.event.venue_address_2 %}
                            {{ registration.event.venue_address_2 }}<br />
                        {% endif %}
                        {{ registration.event.venue.city }} {{ registration.event.venue.state }} {{ registration.event.venue.postal }}
                    {% endif %}
                </p>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>