<!doctype html>
<html lang="en">
<head>
    <title>
        {% if block('title') %}
            {{ block('title') }} //
        {% endif %}
        Clear // CodeDay
    </title>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/sweet-alert.css"/>
    <link id="favicon" rel="icon" type="image/png" href="/assets/img/favicon.png" />
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVggXa9btjGmzqgUim-1HjmnMtbF3UNms&sensor=false&libraries=visualization,places"></script>
    <script type="text/javascript">
        (function(){
            var simpleMapStyle = [
                {
                    "featureType": "landscape",
                    "stylers": [
                        { "visibility": "off" }
                    ]
                },{
                    "featureType": "administrative",
                    "stylers": [
                        { "visibility": "off" }
                    ]
                },{
                    "featureType": "administrative.country",
                    "elementType": "geometry",
                    "stylers": [
                        { "visibility": "on" }
                    ]
                },{
                    "featureType": "administrative.province",
                    "elementType": "geometry",
                    "stylers": [
                        { "visibility": "on" }
                    ]
                },{
                    "featureType": "administrative.province",
                    "elementType": "labels",
                    "stylers": [
                        { "visibility": "on" }
                    ]
                },{
                    "featureType": "road",
                    "stylers": [
                        { "visibility": "off" }
                    ]
                },{
                    "featureType": "transit",
                    "stylers": [
                        { "visibility": "off" }
                    ]
                },{
                    "featureType": "poi",
                    "stylers": [
                        { "visibility": "off" }
                    ]
                },{
                    "featureType": "landscape",
                    "elementType": "geometry",
                    "stylers": [
                        { "saturation": -100 },
                        { "lightness": 100 },
                        { "visibility": "on" }
                    ]
                },{
                    "featureType": "water",
                    "stylers": [
                        { "saturation": -100 },
                        { "lightness": 27 }
                    ]
                }
            ];
            window.defaultMapOptions = {
                center: new google.maps.LatLng(38.216194740798436, -95.59806542968748),
                zoom: 4,
                disableDefaultUI: true,
                styles: simpleMapStyle,
                scrollwheel: false,
                draggable: false
            }
        })();
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body class="{{ block('section') }}">
    {% if status_message %}
        <div class="info status">{{ status_message }}</div>
    {% elseif error %}
        <div class="info error">{{ error }}</div>
    {% elseif old_batch %}
        <div class="info old-batch">Warning: you are editing an old batch. <a href="/change-batch">Switch?</a></div>
    {% endif %}
    <header>
        <h1>
            <span class="event">CodeDay</span>
            <span class="tool">Close</span>
        </h1>
        <nav>
            <ul>
                <li {% if block('section') == 'dashboard' %}class="active"{% endif %}><a href="/">Dashboard</a></li>
                <li {% if block('section') == 'tools' %}class="active"{% endif %}><a href="/tools">Tools</a></li>
                {% if me.is_admin %}
                    <li {% if block('section') == 'settings' %}class="active"{% endif %}><a href="/settings">Settings</a></li>
                    <li {% if block('section') == 'debug' %}class="active"{% endif %}><a href="/debug">Debug</a></li>
                {% endif %}
                {% if event %}
                    <li class="active"><a href="/event/{{ event.id }}">{{ event.name }}</a></li>
                {% endif %}
            </ul>
        </nav>
        <section class="user">
            <ul>
                <li class="username">{{ me.username }}</li>
                <li class="batch"><a href="/change-batch">{{ managed_batch.name }}</a></li>
                <li class="logout"><a href="/logout">Logout</a></li>
            </ul>
        </section>
    </header>

    <div class="wrap">
        {% if block('subnav') %}
            <section class="subnav">
                {{ block('subnav') }}
            </section>
        {% endif %}
        <section class="content {% if block('subnav') %}with-subnav{% endif %}">
            {{ block('content') }}
        </section>
    </div>

    <footer>
        Copyright &copy; {{ 'now' | date('Y') }} StudentRND.
        <a href="#" class="toggle-sounds">Disable sounds</a>
        <a href="#" id="tour-start">Start tour</a>
    </footer>
    <script type="text/javascript" src="/assets/js/sweet-alert.min.js"></script>
    <script type="text/javascript" src="/assets/js/app.js"></script>
    {{ block('scripts') }}
    {% if status_message or error %}
        <script type="text/javascript">
            $(document).ready(function(){
                setTimeout(function(){
                    $('body > .info').animate({'height': 'toggle', 'opacity': 'toggle'});
                }, 5000);
            });
        </script>
    {% endif %}

    <link rel="stylesheet" href="/assets/css/shepherd-theme-arrows.css" />
    <script src="/assets/js/shepherd.min.js"></script>
    {% if me.wasFirstLogin %}
        <script type="text/javascript">
            localStorage['current-tour-page'] = 'dashboard';
        </script>
    {% endif %}
    <script src="/assets/js/tour.js"></script>
</body>
</html>
