{% extends "template.twig" %}
{% block title %}{{ event.full_name }}{% endblock %}
{% block section %}event{% endblock %}
{% block subnav %}{% include "event/subnav.twig" %}{% endblock %}
{% block content %}
    <section class="status">
        {% if event.previous_event %}
            {% set attendance_goal = ((event.previous_event.registrations|length)*1.1)|number_format(0) %}
        {% else %}
            {% set attendance_goal = 60 %}
        {% endif %}
        {% if attendance_goal < 60 %}{% set attendance_goal = 60 %}{% endif %}
        {% set kpis = [
            {
                "label": "Venue",
                "value": event.venue ? "Secured" : "Missing",
                "success": event.venue?true:false,
                "goal": ((event.starts_at - 60*60*24*7*4*2)|date('M j'))
            },
            {
                "label": "Sponsorship",
                "value": "$"~(event.sponsor_revenue|number_format(0)),
                "goal": "$750",
                "success": event.sponsor_revenue > 750
            },
            {
                "label": "Attendees",
                "value": event.registrations|length,
                "goal": attendance_goal,
                "success": (event.registrations|length) > attendance_goal
            }
        ] %}
        <ul class="kpis">
            {% for kpi in kpis %}
                <li class="{% if kpi.success %}success{% else %}failure{% endif %}">
                    <span class="label">{{ kpi.label }}</span>
                    <span class="value">{{ kpi.value }}</span>
                    {% if kpi.goal %}<span class="goal">{{ kpi.goal }}</span>{% endif %}
                </li>
            {% endfor %}
            <li class="{% if event.allow_registrations %}success{% else %}failure{% endif %}">
                <span class="label">Event Live?</span>
                <span class="value">
                    <form method="post" action="/event/{{ event.id }}/update-registration-status">
                        <div class="switch enableddisabled">
                            <input type="checkbox" name="allow_registrations" id="allow_registrations" value="1"
                                   {% if event.allow_registrations %}checked{% endif %}
                                   {% if not event.venue or not event.max_registrations or not event.venue_contact_email or event.sales_tax_rate == null %}disabled{% endif %} />
                            <label for="allow_registrations">
                                <span class="inner"></span>
                                <span class="switch">&#10005;</span>
                            </label>
                        </div>
                    {{ csrf|raw }}</form>
                </span>
            </li>
        </ul>
    </section>
    {% if not event.allow_registrations %}
        {% if not event.venue or not event.max_registrations or not event.venue_contact_email or event.sales_tax_rate == null %}
            <h3>You're not quite ready to open registrations!</h3>
            <p>You're missing:</p>
            <ul>
                {% if not event.venue %}<li>Venue address</li>{% endif %}
                {% if not event.max_registrations %}<li>Venue capacity</li>{% endif %}
                {% if not event.venue_contact_email %}<li>Venue contact information</li>{% endif %}
                {% if event.sales_tax_rate == null %}<li>Sales tax information</li>{% endif %}
            </ul>
        {% else %}
            <h3>Ready to open registrations?</h3>
            <p>Click the "EVENT LIVE" toggle above.</p>
            <p>(Opening registrations does <u>not</u> automatically send an email to subscribers.)</p>
        {% endif %}
    {% elseif event.registrations|length > 0 %}
        <div class="chart line" data-source="RegistrationsOverTime" data-colors="#ccc"><h3>Registrations</h3></div>
        <div class="chart bar" data-source="AgeDistribution" data-colors="#ccc"><h3>Age Distribution</h3></div>
        <div class="chart donut" data-source="WaiverStatus" data-colors="#fcf,#fdf,#cfc"><h3>Waiver Status</h3></div>
        <div class="chart bar" data-source="Promotions" data-colors="#ccc"><h3>Promotions</h3></div>
    {% endif %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $('#allow_registrations, #allow_waitlist_signups').on('change', function() {
            $(this).parents('form').submit();
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.4/d3.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/britecharts@1/dist/bundled/britecharts.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/britecharts/dist/css/britecharts.min.css" type="text/css" />
    <script type="text/javascript">
        $('.chart').each(function(){
            var chart = this;
            var chartType;
            if ($(chart).hasClass('donut')) chartType = britecharts.donut().isAnimated(true);
            if ($(chart).hasClass('bar')) chartType = britecharts.bar().isAnimated(true);
            if ($(chart).hasClass('line')) chartType = britecharts.line();

            chartType.colorSchema($(chart).data('colors').split(','));

            var dataUrl = '/event/{{ event.id }}/data.json?chart=' + $(chart).data('source');
            
            var _data = null;
            var redraw = function() {
                chartType.width(chart.offsetWidth).height(chart.offsetHeight - 40);
                if ($(chart).hasClass('donut')) {
                    chartType.externalRadius(chart.offsetWidth/2).internalRadius(chart.offsetWidth/4);
                }
                if (_data == null) {
                    $.get(dataUrl, function(result){
                        _data = result;
                        d3.select(chart).datum(_data).call(chartType);
                    }, 'json');
                } else {
                    d3.select(chart).datum(_data).call(chartType);
                }
            }

            if (!$(chart).hasClass('donut')) {
                window.addEventListener("resize", redraw);
            }
            setTimeout(redraw, Math.random() + 4);
        });
    </script>
{% endblock %}
