{% extends "template.twig" %}
{% block title %}Notifications // {{ event.full_name }}{% endblock %}
{% block section %}event{% endblock %}
{% block subnav %}{% include "event/subnav.twig" %}{% endblock %}
{% block content %}
    <header>
        <h2>Notifications</h2>
        <p>
          If you wish to push simple notifications to attendees, instead of full-blown <a href="/event/{{ event.id }}/announcements">announcements</a>,
          you can use this tool.
        </p>
    </header>

    <form action="/event/{{ event.id }}/notifications" method="post">
        <h3>Push Notification</h3>

        <div class="field">
            <label for="text">Notification Text</label>
            <textarea name="text" id="text" required></textarea>
            <span class="help">The text of the notification to be displayed.</span>
        </div>

        <div class="field">
            <label>Channels</label>
            <span class="help">Choose which channels should receive this notification.</span>
            <br/>
            <div style="display: inline-block">
                <input type="checkbox" name="send_app" id="send_app"/>
                <label for="send_app">Companion App ({{ app_count }})</label>
                <br/>
                <input type="checkbox" name="send_messenger" id="send_messenger"/>
                <label for="send_messenger">Facebook Messenger ({{ messenger_count }})</label>
                <br/>
                <input type="checkbox" name="send_sms" id="send_sms"/>
                <label for="send_sms">SMS ({{ sms_count }})</label>
            </div>
        </div>

        <input type="submit" value="Push Notification"/>

        {{ csrf|raw }}
    </form>
{% endblock %}
