<div id="overview">
  <div class="logo">
    <img src="https://srnd.org/assets/img/press/assets/brand/codeday_logo.png">
    <div class="float-right">
      <span class="float-right">{{ event.name }}</span><br>
      Run of Show
    </div>
  </div>

  <div style="text-align: center; font-weight: 700;margin-top:2rem;margin-bottom:2rem">
      {{ event.starts_at|date('F j, Y') }} @ 10am &mdash; {{ event.ends_at|date('F j, Y') }} @ 2pm<br />
      {% if event.venue %}
        At {{ event.venue.name }} {{ event.venue.address_1 }} {{ event.venue.address_2 }}
        {{ event.venue.city }} {{ event.venue.state }} {{ event.venue.postal }}
      {% endif %}
  </div>

  <h2>Directory</h2>
    <style>
        table { border-collapse: collapse; }
        table td, table th { border: 1px solid #ccc; padding: 0.5rem; text-align: left }
    </style>
    <table>
        <tbody>
            <tr>
                <th>General Public</th>
                <td>Public Contact Number</td>
                <td>888-CODE-230</td>
            </tr>
            <tr>
                <th>Manager</th>
                <td>{{ event.manager.name }}</td>
                <td>{{ event.manager.phone }}</td>
            </tr>
            {% if event.manager_username != event.evangelist_username %}
                <tr>
                    <th>Day-Of Lead</th>
                    <td>{{ event.evangelist.name }}</td>
                    <td>{{ event.evangelist.phone }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Venue</th>
                <td>{{ event.venue_contact_first_name }} {{ event.venue_contact_last_name }}</td>
                <td>{{ event.venue_contact_phone }}</td>
            </tr>

            {% for grant in event.grants %}
                <tr>
                    <th>Event Staff</th>
                    <td>{{ grant.user.name }}</td>
                    <td>{{ grant.user.phone }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

  {% if event.notes or regNotes|length > 0 %}
    <h2>Show Notes</h2>
    {{ event.notes|markdown|raw }}

    {% if regNotes|length > 0 %}
        <h3>Attendee Notes</h3>
        <ul>
            {% for reg in regNotes %}
                <li>{{ reg.name }}: {{ reg.notes }}</li>
            {% endfor %}
        </ul>
    {% endif %}
  {% endif %}

    <h2>Schedule</h2>
    <table>
        <tbody>
            {% for day, schedule in event.getScheduleAttribute(true) %}
                <tr><th colspan="4">{{ day }}</th></tr>
                {% for activity in schedule %}
                    <tr>
                        <th>{{ (event.starts_at + (activity.time*60*60))|date('h:ia') }}</th>
                        <th>{{ activity.title }}</th>
                        <td>{% if activity.type == 'event' %}Public{% else %}{{ activity.type|title }}{% endif %}</td>
                        <td>
                            <p>{{ activity.description }}</p>
                            {% if activity.type == 'internal' and activity.title == 'Sponsors' %}
                                {% for sponsor in event.sponsors %}
                                    <p><strong>{{ sponsor.name }}:</strong>
                                    {{ sponsor.description }}</p>
                                {% endfor %}
                            {% endif %}
                            {% if activity.url %}
                                <p>{{ activity.url }}</p>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>


  <style>
    #overview{
      font-family: "Arial";
      max-width: 600px;
      margin: 0 auto;
    }

    .logo{
      margin-top: 15px;
      margin-bottom: 10px;
      font-size: 1.3em;
    }

    .logo img{
      max-height: 50px;
    }

    .logo .float-right{
      float: right;
    }

    .indent-1{
      text-indent: 2em;
    }

    .indent-2{
      text-indent: 4em;
    }

    .overview-notes h1, .overview-notes h2, .overview-notes h3, .overview-notes p, .overview-notes blockquote{
      margin-top: 0;
      margin-bottom: 0;
    }

    .overview-notes blockquote{
      margin-left: 2em;
    }

    .emergency{
      color: red;
    }
  </style>
</div>
