{% extends "template.twig" %}
{% block title %}Special // {{ event.full_name }}{% endblock %}
{% block section %}event{% endblock %}
{% block subnav %}{% include "event/subnav.twig" %}{% endblock %}
{% block content %}
    <header>
        <h2>Special Settings</h2>
        <p>These settings are only available to admins, and satisfy special conditions.</p>
    </header>
    <form method="post">
        <div class="field">
            <label for="custom_css">Custom CSS</label>
            <textarea name="custom_css" id="custom_css">{{ event.custom_css }}</textarea>
            <span class="help">Custom CSS to be included on the event page.</span>
        </div>

        <div class="field">
            <label for="hide_default_workshops">Hide Default Workshops?</label>
            <input type="checkbox" name="hide_default_workshops" id="hide_default_workshops" value="1" {% if event.hide_default_workshops %}checked{% endif %} />
            <span class="help">If checked, batch workshops will not show up in the event schedule, and must be added
                manually in the activities section. Used for events with a special schedule.</span>
        </div>

        <div class="field">
            <label for="hide_meals">Hide Meals?</label>
            <input type="checkbox" name="hide_meals" id="hide_meals" value="1" {% if event.hide_meals %}checked{% endif %} />
            <span class="help">If checked, meals (including Lunch, Dinner, Midnight Snack, and Breakfast) will be hidden.
                Used for events with special meal times.</span>
        </div>

        <div class="field">
            <label for="notice">Notice</label>
            <input type="text" id="notice" name="notice" value="{{ event.notice }}" />
            <span class="help">Displayed on a banner at the top of the site.</span>
        </div>

        <div class="field">
            <label for="name_override">Override Name</label>
            <input type="text" id="name_override" name="name_override" value="{{ event.name_override }}" />
            <span class="help">Changes the name shown on the site, while still keeping the same region.</span>
        </div>

        <div class="field">
            <label for="abbr_override">Abbr Override</label>
            <input type="text" id="abbr_override" name="abbr_override" value="{{ event.abbr_override }}" />
            <span class="help">Changes the abbr shown on the site, while still keeping the same region.</span>
        </div>

        <div class="field">
            <label for="webname_override">Webname Override</label>
            <input type="text" id="webname_override" name="webname_override" value="{{ event.webname_override }}" />
            <span class="help">Changes the webname used on the site, while still keeping the same region.</span>
        </div>

        <div class="field">
            <label for="price_earlybird">Earlybird Price</label>
            <input type="text" id="price_earlybird" name="price_earlybird" value="{{ event.price_earlybird }}" />
            <span class="help">Earlybird (<40% and before the week-of) price. If this is the same as the regular
                               price, earlybird pricing will not apply.</span>
        </div>

        <div class="field">
            <label for="price_regular">Regular Price</label>
            <input type="text" id="price_regular" name="price_regular" value="{{ event.price_regular }}" />
            <span class="help">Regular price.</span>
        </div>


        <input type="submit" value="Save" />
    {{ csrf|raw }}</form>

    <header>
        <h2>Specal Links</h2>
        <p>You can add special links to the event page.</p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>URL</th>
                    <th>_blank?</th>
                    <th>Action</th>
                </tr>
                {% for link in event.specialLinks %}
                    <tr>
                        <td>{{ link.name }}</td>
                        <td>{{ link.url }}</td>
                        <td>{%  if link.new_window %}yes{% else %}no{% endif %}</td>
                        <td>
                            <form action="/event/{{ event.id }}/special/deletelink" method="post">
                                <input type="hidden" name="id" value="{{ link.id }}">
                                <input type="submit" value="Delete">
                            {{ csrf|raw }}</form>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <form action="/event/{{ event.id }}/special/addlink" method="post">
                        <td><input type="text" name="name" required></td>
                        <td><input type="text" name="url" required></td>
                        <td><input type="checkbox" name="new_window" value="1"></td>
                        <td><input type="submit" value="Add"></td>
                    {{ csrf|raw }}</form>
                </tr>
            </thead>
        </table>
    </header>

    <header>
        <h2>Related Event</h2>
        <p>You can create a new event to handle multiple nearby events, such as for big regions.</p>
    </header>
    {% if event.overflow_events|length < 1 %}
        <form action="/event/{{ event.id }}/special/overflow" method="post">
            <input type="submit" value="Create Related Event"/>
        {{ csrf|raw }}</form>
    {% endif %}

    <header>
        <h2>Clear Waivers</h2>
    </header>
    <form action="/event/{{ event.id }}/special/clearwaivers" method="post" class="dangerous">
        <input type="submit" value="Yes, clear them!" />
    {{ csrf|raw }}</form>


    <header>
        <h2>Cancel/Refund All</h2>
    </header>
    <form action="/event/{{ event.id }}/special/cancel" method="post" class="dangerous">
        <input type="submit" value=":(" />
    {{ csrf|raw }}</form>

    <header>
        <h2>Delete</h2>
    </header>
    <form action="/event/{{ event.id }}/special/delete" method="post" class="dangerous">
        <input type="submit" value="Yes, Delete it!" />
    {{ csrf|raw }}</form>
{% endblock %}
