<h2>{{ event.name }} {{ event.batch.name }}</h2>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" />

<section class="general">
    <ul>
        <li><a href="/event/{{ event.id }}">Overview</a></li>
        <li><a href="/event/{{ event.id }}/overview">Run of Show</a></li>
        <li><a href="/event/{{ event.id }}/notes">Show Notes</a></li>
    </ul>
</section>

<section class="people">
    <h3><i class="fi-torsos-all-female"></i> People</h3>
    <ul>
        <li><a href="/event/{{ event.id }}/registrations">Registrations</a></li>
        <li><a href="/event/{{ event.id }}/subscriptions">Info Subscribers</a></li>
        <li><a href="/event/{{ event.id }}/subusers">Subusers</a></li>
    </ul>
</section>

<section class="communication">
    <h3><i class="fi-comments"></i> Communication</h3>
    <ul>
        <li><a href="/event/{{ event.id }}/announcements">Send Announcement</a></li>
        <li><a href="/event/{{ event.id }}/emails">Send Email</a></li>
        <li><a href="/event/{{ event.id }}/preevent">Auto Email</a></li>
    </ul>
</section>

<section class="public">
    <h3><i class="fi-ticket"></i> Public</h3>
    <ul>
        <li><a href="/event/{{ event.id }}/promotions">Promos</a></li>
        <li><a href="/event/{{ event.id }}/sponsors">Sponsors</a></li>
    </ul>
</section>

<section class="logistics">
    <h3><i class="fi-clipboard-pencil"></i> Logistics</h3>
    <ul>
        <li><a href="/event/{{ event.id }}/activities">Schedule</a></li>
        <li><a href="/event/{{ event.id }}/venue">Venue</a></li>
        <li><a href="/event/{{ event.id }}/shipping">Shipping</a></li>
    </ul>
</section>

{% if me.is_admin %}
    <section class="admin">
        <h3><i class="fi-shield"></i> Admin</h3>
        <ul>
            <li><a href="/event/{{ event.id }}/notifications">Send Notification</a></li>
            <li><a href="/event/{{ event.id }}/supplies">Supplies</a></li>
            <li><a href="/event/{{ event.id }}/special">Special</a></li>
        </ul>
    </section>
{% endif %}

<section class="integrations">
    <h3><i class="fi-arrows-out"></i> Integrations</h3>
    <ul>
        <li><a href="/event/{{ event.id }}/slack">Slack</a></li>
        <li><a href="/event/{{ event.id }}/spotify">Spotify{% if event.spotify_access_token %} ✓{% endif %}</a></li>
    </ul>
</section>
