{% extends "template.twig" %}
{% block title %}Venue // {{ event.full_name }}{% endblock %}
{% block section %}event{% endblock %}
{% block subnav %}{% include "event/subnav.twig" %}{% endblock %}
{% block content %}
    <header>
        <h2>Venue</h2>
        <p>Once you've secured a venue, you can set its details here. Please do not
           enter information until the venue is confirmed.</p>
        <p>Name, Address (Line 1), City, State, and Postal Code are required to publish
           the site.</p>
    </header>
    <form method="post" class="venue">
        <section class="location">
            <h3>Location Information</h3>
            <div class="field">
                <label for="venue_name">Name</label>
                <input type="text" name="venue_name" id="venue_name" value="{{ event.venue.name }}" placeholder="Puppet Labs" tabindex="1" />
                <span class="help">The name of the organization hosting the event.</span>
            </div>
            <div class="field">
                <label for="venue_address_1">Address</label>
                <input type="text" name="venue_address_1" id="venue_address_1" value="{{ event.venue_address_1 }}" placeholder="111 Main St." tabindex="2"/>
                <input type="text" name="venue_address_2" id="venue_address_2" value="{{ event.venue_address_2 }}" placeholder="STE 100" tabindex="3" />
                <input type="text" name="venue_country" id="venue_country" value="{{ event.venue.country }}" placeholder="US" maxlength="2" tabindex="7" />
                <input type="text" name="venue_postal" id="venue_postal" value="{{ event.venue.postal }}" placeholder="98109" tabindex="6" />
                <input type="text" name="venue_state" id="venue_state" value="{{ event.venue.state }}" placeholder="WA" tabindex="5" />
                <input type="text" name="venue_city" id="venue_city" value="{{ event.venue.city }}" placeholder="Seattle" tabindex="4" />
                <span class="help">The address of the venue, including suite or floor number (if required).</span>
            </div>
            <div class="field">
                <label for="max_registrations">Capacity</label>
                <input type="number" name="max_registrations" id="max_registrations" value="{{ event.max_registrations }}" placeholder="100" tabindex="9" />
                <span class="help">The number of participants the venue supports.</span>
            </div>

            <div class="field">
                <label for="loaners_available">Loaner Computers</label>
                <input type="number" name="loaners_available" id="loaners_available" value="{{ event.loaners_available }}" placeholder="25" tabindex="10" />
                <span class="help">If there will be computers available for students to use on-site, indicate the number available.</span>
            </div>
        </section>
        <section class="contact">
            <h3>Contact Information</h3>
            <input type="text" name="venue_contact_first_name" id="venue_contact_first_name" placeholder="Amy" value="{{ event.venue_contact_first_name }}" tabindex="11" />
            <input type="text" name="venue_contact_last_name" id="venue_contact_last_name" placeholder="Smith" value="{{ event.venue_contact_last_name }}" tabindex="12" />
            <input type="text" name="venue_contact_email" id="venue_contact_email" placeholder="contact@myvenue.com" value="{{ event.venue_contact_email }}" tabindex="13" />
            <input type="text" name="venue_contact_phone" id="venue_contact_phone" placeholder="5552342344" value="{{ event.venue_contact_phone }}" tabindex="13" />
        </section>

        <input type="submit" value="Save" tabindex="14" />
    {{ csrf|raw }}</form>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
    (function(a){if(window.filepicker){return}var b=a.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===a.location.protocol?"https:":"http:")+"//api.filepicker.io/v1/filepicker.js";var c=a.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d={};d._queue=[];var e="pick,pickMultiple,pickAndStore,read,write,writeUrl,export,convert,store,storeUrl,remove,stat,setKey,constructWidget,makeDropPane".split(",");var f=function(a,b){return function(){b.push([a,arguments])}};for(var g=0;g<e.length;g++){d[e[g]]=f(e[g],d._queue)}window.filepicker=d})(document);
    </script>
    <script type="text/javascript">
        var placeSearch, autocomplete;

        $(document).ready(function(){
            // TODO load API key from config instead of hardcoding
            filepicker.setKey("ADH0Y21m6Ql6Bea2jbz5Az");

            $("#filepicker_waiver").click(function(){
              filepicker.pick(
                {
                  mimetypes: ['image/*', 'application/pdf'],
                },
                function(blob){
                  $("#waiver_link").val(blob.url);
                }
              );
            })

            var autocomplete = new google.maps.places.Autocomplete(
                    (document.getElementById('venue_name')),
                    { types: ['establishment'], componentRestrictions: {
                        country: "us"
                    } });

            $('#venue_name').keydown(function (e) {
                if (e.which == 13 && $('.pac-container:visible').length) {
                    var place = autocomplete.getPlace();
                    $('#venue_name').blur();
                    $('#venue_name').val(place.name || '');
                    return false;
                }
            });

            google.maps.event.addListener(autocomplete, 'place_changed', function() {
                var place = autocomplete.getPlace();

                var address = {};
                for (var i = 0; i < place.address_components.length; i++) {
                    var addressType = place.address_components[i].types[0];
                    var addressComponent = place.address_components[i]['short_name']

                    address[addressType] = addressComponent;
                }

                $('#venue_name').val(place.name || '');
                $('#venue_address_1').val((address['street_number']+' ' || '')+(address['route'] || ''));
                $('#venue_address_2').val(address['subpremise'] || '');
                $('#venue_city').val(address['locality'] || '');
                $('#venue_state').val(address['administrative_area_level_1'] || '');
                $('#venue_postal').val(address['postal_code'] || '');
                $('#venue_country').val(address['country'] || '');
            });
        });
    </script>
{% endblock %}
