{% extends 'email-pages/template' %}
{% block title %}Parent Info{% endblock %}
{% block content %}
  <h1>Parent Info for {{ registration.name }}</h1>
  {% if success %}
      <p class="success">Parent info updated.</p>
  {% endif %}
  <form method="post">
      <div class="field">
          <label for="parent_name">Parent Name:</label>
          <input type="text" name="parent_name" id="parent_name" value="{{ registration.parent_name }}" />
      </div>

      <div class="field">
          <label for="parent_email">Parent Email:</label>
          <input type="email" name="parent_email" id="parent_email" value="{{ registration.parent_email }}" />
      </div>

      <div class="field">
          <label for="parent_phone">Parent Primary Phone:</label>
          <input type="phone" name="parent_phone" id="parent_phone" value="{{ registration.parent_phone }}" />
      </div>

      <div class="field">
          <label for="parent_secondary_phone">Parent Secondary Phone:</label>
          <input type="phone" name="parent_secondary_phone" id="parent_secondary_phone" value="{{ registration.parent_secondary_phone }}" />
      </div>

      <div class="field">
          <label for="parent_no_info">Or, if you're over 18 and don't live with your parents, check here:</label>
          <input type="checkbox" name="parent_no_info" value="1" {% if registration.parent_no_info %}checked{% endif %}/>
      </div>

      <input type="submit" value="Save"/>
  </form>
{% endblock %}

