<!doctype html>
<html lang="en_US">
<head>
    <title>{{ block('title') }} ~ CodeDay</title>
    <style type="text/css">
        * {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        body {
            background-color: #ccc;
        }

        .wrap {
            background-color: #fff;
            width: 100%;
            max-width: 500px;
            font-family: "proxima-nova", "Proxima Nova", Helvetica, Arial, sans-serif;
            margin: 3rem auto;
            padding: 1rem;
        }

        body.esign .wrap {
            max-width: 1024px;
        }

        body.esign .wrap iframe {
            width: 100%;
            height: 80rem;
            border: 0;
        }

        h1, h2 {
            text-align: center;
        }

        form {
            margin-top: 3rem;
        }

        .field {
            margin-bottom: 1rem;
        }

        .field span {
            font-weight: bold;
            font-style: italic;
        }

        .field label {
            display: inline-block;
            width: 38%;
        }

        .field * {
            vertical-align: top;
        }

        .field input:not([type="checkbox"]) {
            display: inline-block;
            width: 60%;
        }

        input[type="submit"] {
            float: right;
        }

        p.success {
            color: #fff;
            text-align: center;
            background-color: #72CB99;
            padding: 0.5rem 1rem;
            margin: 2rem 1rem;
        }

        p.why {
            text-align: center;
            font-style: italic;
            font-weight: 700;
        }

        input[type="submit"] {
            display: block;
            text-align: center;
            font-size: 1rem;

            background: linear-gradient(#FFF, #EAEDEF) repeat scroll 0% 0% #FAFAFA;
            border-left: 1px solid #E1E1E1;
            border-right: 1px solid #E1E1E1;
            border-width: 1px;
            border-style: solid;
            border-color: #EDEDED #E1E1E1 #D4D4D4;
            font-weight: bold;
            padding: 7px 12px !important;
            outline: 0;
        }

        input[type="submit"]:active {
            background: linear-gradient(#E0E5E8, #FCFCFC) repeat scroll 0% 0% transparent !important;
        }

        input[type="submit"]:hover {
            background: linear-gradient(#FCFCFC, #E0E5E8) repeat scroll 0% 0% transparent;
        }

        .warning {
            margin: 1rem 0;
            padding: 1rem;
            border: 1px solid #f55;
        }

        footer {
            padding-top: 2rem;
            clear: both;
            font-size: 0.7rem;
        }

        footer, footer a {
            color: #ccc;
        }
    </style>
</head>
<body class="{{ block('class') }}">
    <script src="https://use.typekit.net/jzm7jeq.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>    <div class="wrap">
        {{ block('content') }}
        <footer>
            &copy; 2014-{{ null|date('Y') }} <a href="https://studentrnd.org/">StudentRND</a>
        </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    {{ block('scripts') }}
</body>
</html>
